<div class="content p-0">
  <div class="row mt-2">
    <div class="col-md-12 p-0">
      <h1 class="title-page mt-2">{{Title}}</h1>
    </div>
    <mat-divider></mat-divider>

  </div>
  <div class="row mt-4">
    <div class="col-lg-6 col-12">
      <button type="button" mat-raised-button color="primary" class="btn-text mt-3 ms-3"
        (click)="getAllIndicatorMetasExcel()">
        <mat-icon>description</mat-icon> Exportar Excel
      </button>
    </div>
    <!-- [disabled]="!checkPermission(1)" -->
    <mat-form-field appearance="outline" class="col-lg-6 col-12 mt-1 pl-2">
      <mat-label>Buscar metas indicador por (Id Proceso, año, ciclo o institución)</mat-label>
      <input type="text" matInput #input (keyup)="applyFilter($event)" />
    </mat-form-field>
  </div>
  <div class="row pb-4">
    <div class="col-md-12 container__table mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="table mb-0">
        <ng-container matColumnDef="periodo">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Id Proceso</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
            {{ row.periodoEvaluacionId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Año</th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
            {{ row.anio }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cycle">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Ciclo</th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">{{
            row.ciclo }}</td>
        </ng-container>

        <ng-container matColumnDef="institution">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
            Institución
          </th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
            {{ row.institucion }}
          </td>
        </ng-container>

        <ng-container matColumnDef="region">
          <th mat-header-cell class="table__header" *matHeaderCellDef>Región</th>
          <td mat-cell class="table__cell" *matCellDef="let row" style="text-overflow: ellipsis;">
            <button matTooltip="{{getRegionList()}}" aria-label="">
              <mat-icon color="black">assignment</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="campus">
          <th mat-header-cell class="table__header" *matHeaderCellDef>Campus</th>
          <td mat-cell class="table__cell" *matCellDef="let row" style="text-overflow: ellipsis;">
            <button matTooltip="{{getCampusList()}}" aria-label="">
              <mat-icon color="black">assignment</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="area">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
            Área responsable
          </th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
            {{ row.areaResponsable !== null ? row.areaResponsable.nombre : '' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="areaType">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Tipo de área</th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
            {{ row.tipoArea !== null ? getTypeArea(row.tipoArea) : '' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="levelModality">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
            Nivel / Modalidad
          </th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
            {{row.niveles}}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="etapa">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
            Etapa
          </th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
            {{ row.etapaN }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="fInicio">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
            F Inicio
          </th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
            {{ row.fechaInicio | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fFin">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
            F Fin
          </th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
            {{ row.fechaFin | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="aEvidencia">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
            A de evidencia
          </th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
            {{row.avanceCargaEvidecias | number:'1.3-3' }} %
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell class="table__header table__cell--actions" *matHeaderCellDef>Acciones</th>
          <td mat-cell class="table__cell table__cell--actions" *matCellDef="let row; let index = index">
            <div class="d-flex justify-content-center">
              <button mat-button matTooltip="Capturar" (click)="onCapture(row)">
                <mat-icon class="edit__icon">edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row
          *matHeaderRowDef="[ 'periodo', 'year', 'cycle', 'institution', 'region', 'campus', 'area', 'areaType', 'levelModality', 'fInicio', 'fFin','aEvidencia', 'edit' ]">
        </tr>
        <tr mat-row
          *matRowDef="let row; columns: [ 'periodo', 'year', 'cycle', 'institution', 'region', 'campus', 'area', 'areaType', 'levelModality', 'fInicio', 'fFin','aEvidencia', 'edit' ]">
        </tr>
      </table>
      <ng-template [ngIf]="dataSource.data.length === 0">
        <p class="empty-table mt-4">No hay datos para mostrar</p>
      </ng-template>
      <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
        [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
        (page)="paginatorChange($event)"></mat-paginator>
    </div>
  </div>
</div>