<ng-container *ngFor="let item of menuArray3" >

    <ng-container *ngIf="item.subMenus.length == 0 && item.activo">
        <mat-list-item matRipple [disabled]="!item.activo" [routerLink]="item.url" routerLinkActive="active" (click)="sidenav.toggle()">
            <span class="full-width menu__text h1">{{item.nombre}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
    
    <!-- <ng-container *ngIf="item.subMenus.length == 0">
        <ng-container>
            <mat-list-item matRipple [disabled]="!item.activo" [routerLink]="item.url" routerLinkActive="active" (click)="sidenav.toggle()">
                <span class="full-width menu__text h1">a {{item.nombre}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </ng-container> -->

    <ng-container *ngIf="item.subMenus.length != 0 && item.activo">
        <ng-container >
            <mat-list-item matRipple [disabled]="!item.activo" routerLinkActive="active" (click)="item.muestraSubmenu = !item.muestraSubmenu">
                <span class="full-width menu__text h1"> {{item.nombre}} </span>
                <mat-icon class="menu__button" [ngClass]="{ rotated: item.muestraSubmenu }">expand_more</mat-icon>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
        <ng-container *ngIf="item.muestraSubmenu">
            <div class="submenu" [ngClass]="{ expanded: item.muestraSubmenu }">
                <ng-container *ngFor="let sub of item.subMenus">
                   
                    <ng-container *ngIf="sub.subMenus.length == 0 && sub.activo">
                        <ng-container >
                            <mat-list-item matRipple [disabled]="!sub.activo" [routerLink]="sub.url" routerLinkActive="active"(click)="sidenav.toggle()">
                                <span class="full-width menu__text">{{sub.nombre}}</span>
                            </mat-list-item>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="sub.subMenus.length != 0 && sub.activo">
                        <ng-container >
                            <mat-list-item matRipple [disabled]="!sub.activo" routerLinkActive="active" (click)="sub.muestraSubmenu = !sub.muestraSubmenu">
                                <span class="full-width menu__text h2"> {{sub.nombre}} </span>
                                <mat-icon class="menu__button" [ngClass]="{ rotated: sub.muestraSubmenu }">expand_more</mat-icon>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </ng-container>

                        <ng-container *ngIf="sub.muestraSubmenu">
                            <div class="submenu2" [ngClass]="{ expanded: sub.muestraSubmenu }">
                                <ng-container *ngFor="let sub2 of sub.subMenus">
                                   
                                    <ng-container *ngIf="sub2.activo">
                                        <ng-container >
                                            <mat-list-item matRipple [disabled]="!sub2.activo" [routerLink]="sub2.url" routerLinkActive="active"(click)="sidenav.toggle()">
                                                <span class="full-width menu__text">{{sub2.nombre}}</span>
                                            </mat-list-item>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>

                </ng-container>
            </div>
        </ng-container>
    </ng-container>    

</ng-container>
