.Drag_Style span,
.Drag_Style *,
.empty-input[_nghost-ng-c3035270314],
.placeholder[_ngcontent-ng-c3035270314],
.placeholder{
    cursor: pointer !important;
    background-color: inherit;
    opacity: 1;
}

.Drag_Style{
    min-height: 30px;
    padding: 0px 12px;
    margin: 0;
}