form *{
    font-size: 14px;
}

.margenesrow {
    padding-top: 1em;
}

.radio-group {
    display: inline-block;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}

.selected-value {
    margin: 15px 0;
}

.labelextenciones{
    display: block;
    font-size: .8em;
    text-wrap:wrap;
    width: 100%;
}


table {
    width: 100% !important;
  }
   
  .mat-column-nombre {
    width: 33% !important;
    text-align: center;
  }

  .mat-column-nombre {
    width: 33% !important;
    text-align: center;
  }

  .mat-column-url {
    width: 33% !important;
    text-align: center;
  }

  .mat-column-acciones {
    width: 33% !important;
    text-align: center;
  }

  .mat-column-edit {
    width: 33% !important;
    text-align: center;
  }

  
  
  /*.mat-column-edit {
       width: 33% !important;
       text-align: center;
    }*/
  
  th {
    background-color: #FBEEE6;
    font-size: 15px;
    font-weight: 500;
    color: black;
  }
  
  .encabezados {
    background-color: #FBEEE6;
    padding: 1em;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 500;
  }

  .text-msj{
    text-align: right;
    margin-top: -22px;
  }

  .text-err{
    margin-top: -21px;
  }