<mat-dialog-content> 
        <div class="content p-0 margenes mb-4">
            <div class="row mt-2">
                <div class="col-md-12 p-0">
                    <h1 class="title-page mt-2 text-principal-detail">Normativa</h1>
                    <p class="text-subprincipal-detail">Selecciona las normas que correspondan</p>                    
                </div>
                <div class="col-md-12 p-0">
                    <p class="title-page mt-2 title-gray">{{claveStorage}} {{indicadorStorage}}</p>
                    <p class="title-page sub-gray-resumen mb-4">{{descripcionIndicadorStorage}}</p>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="row">
                <div class="col-6"></div>
                <mat-form-field appearance="outline" class="col-lg-6 col-6 mt-1 pl-2 float-right mt-4">
                    <mat-label>Buscar por Clave o Nombre de normativa</mat-label>
                    <input type="text" matInput #input (keyup)="applyFilter($event)" />
                </mat-form-field>    
            </div>
    
            <div class="row">
                <div class="col-md-4 text-normativa">
                    Seleccionados
                </div>
                <div class="col-md-8 text-right">
                    <span>
                        <button type="button" mat-raised-button color="primary" (click)="guardar()" >
                            <mat-icon>add</mat-icon> Agregar y guardar
                        </button>&nbsp;
                        <button type="button" mat-raised-button class="mat-secundary" (click)="cerrar()">Cancelar</button>
                    </span>
                </div>
            </div>            
        </div>
        <table mat-table [dataSource]="dataSourceAll" >
            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox class="d-block" (change)="onChange($event, element)"></mat-checkbox>
                </td>
            </ng-container>  

            <ng-container matColumnDef="clave">
                <th mat-header-cell *matHeaderCellDef> Clave de normativa </th>
                <td mat-cell *matCellDef="let element"> {{element.clave}} </td>
            </ng-container>  
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre de normativa</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>  
            <tr mat-header-row *matHeaderRowDef="['activo','clave', 'nombre']"></tr>
            <tr mat-row *matRowDef="let element; columns: ['activo','clave', 'nombre']"></tr>          
        </table>
        <ng-template [ngIf]="dataSourceAll.data.length === 0">
            <p class="empty-table mt-4">No hay datos para mostrar</p>
        </ng-template>

    </mat-dialog-content>
