<mat-card class="mt-5">
    <mat-card-content class="margenes">
        <div class="row mb-5">
            <div class="col-lg-9 col-12 mt-3">
                <h2 class="h2-details">Evidencias</h2>
            </div>
            <div class="col-lg-3 col-12 text-right">
                <button type="button" mat-raised-button color="primary" class="btn-text mt-3" [hidden]="!checkPermission('N')"
                    (click)="addEvidence();">
                    <mat-icon>add</mat-icon> Evidencia
                </button>
            </div>
        </div>
        <div class="container__table mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceEvidences" class="table mb-0">
                <ng-container matColumnDef="claveEvidencia">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef class="claveEvidencia"> Clave de evidencia </th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.claveEvidencia}} </td>
                </ng-container>
                <ng-container matColumnDef="evidencia">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Nombre de evidencia </th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.evidencia}} </td>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Descripción de evidencia </th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>
                <ng-container matColumnDef="formato">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Formato </th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.nombreArchivo}} </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell class="table__cell table__cell-name" class="table__cell table__cell--actions" *matCellDef="let element; let index = index">
                        <div class="d-flex justify-content-center">
    <!--                                    <button mat-button matTooltip="Descargar archivo" (click)="downloadFile(element)">
                                <mat-icon class="download__icon">arrow_downward</mat-icon>
                            </button>
                            <button mat-button matTooltip="Ver" (click)="viewFile(element)" >
                                <mat-icon class="delete__icon">visibility</mat-icon>
                            </button>                -->
                            <button mat-button matTooltip="Ver" (click)="viewFile(element)" *ngIf="canViewFile(element)" [hidden]="!checkPermission('C')">
                                <mat-icon class="eye__icon">remove_red_eye</mat-icon>
                            </button>
    
                            <button mat-button matTooltip="Descargar" (click)="downloadFile(element)" *ngIf="canDownloadFile(element)" [hidden]="!checkPermission('EX')">
                                <mat-icon >cloud_download</mat-icon>
                            </button>
    
                            <button mat-button *ngIf="(!canDownloadFile(element) && !canViewFile(element))">
                                <mat-icon >cloud_off</mat-icon>
                            </button>
                                     
                            <button mat-button matTooltip="Eliminar" (click)="deleteEvidencia(element);" [hidden]="!checkPermission('D')">
                                <mat-icon class="delete__icon">delete_forever</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row
                    *matHeaderRowDef="['claveEvidencia', 'evidencia', 'descripcion','formato','edit']"></tr>
                <tr mat-row
                    *matRowDef="let element; columns: ['claveEvidencia', 'evidencia', 'descripcion','formato', 'edit']">
                </tr>
            </table>
            <ng-template [ngIf]="dataSourceEvidences.data.length === 0">
                <p class="empty-table mt-4">No hay datos para mostrar</p>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>