<form [formGroup]="levelRecordForm" (ngSubmit)="submit()">
    <h1 mat-dialog-title>{{ title }}</h1>
    <mat-divider> </mat-divider>
    <mat-dialog-content>
        <div class="container pt-4">
            <div class="row">
                <mat-form-field appearance="outline" class="col-md-12 mt-1">
                    <mat-label>Nivel</mat-label>
                    <input matInput required name="nombre" formControlName="nombre" [maxLength]="100" />
                    <mat-error *ngIf="levelRecordForm.get('nombre').hasError('noWhitespace')">
                        Este campo es obligatorio</mat-error>
                    <mat-error *ngIf="levelRecordForm.get('nombre').hasError('maxlength')">
                        El valor máximo de caracteres es 100
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <mat-checkbox formControlName="activo" [disabled]="!checkPermission(2)"> Activo </mat-checkbox>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="pb-4">
        <button type="submit" mat-raised-button class="mt-3" color="primary"
            [disabled]="levelRecordForm.invalid || disabled || !edit">
            Guardar
        </button>
        <button type="button" mat-raised-button class="mt-3" (click)="closeModalByConfimation()">Cancelar</button>
    </mat-dialog-actions>
</form>