@use "variables";

:host {
    width: 100%;
    height: 100%;
}

.mat-toolbar {
    position: relative;
    z-index: 2;
    font: 500 20px / 32px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
}

.sidenav--desktop {
    width: 250px;
}

.sidenav--mobile {
    width: 50%;
}

:host ::ng-deep .mat-list-base .mat-list-item:hover,
.mat-list-base .mat-list-option:hover {
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}

// :host ::ng-deep .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
//     height: 36px;
// }

.active {
    background-color: var(--color-primary);
    color: white;
}

.sidebar__item {
    font-size: 12px;
}

.full-width {
    width: 100%;
}

.menu__button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu__text {
    font-size: 12px;
}

.menu__button.rotated {
    transform: rotate(180deg);
}

.submenu {
    overflow: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
}

.submenu mat-list-item {
    padding-left: 30px;
}

.submenu.expanded {
    transform: scaleY(1);
}

mat-sidenav-container {
    min-height: calc(100vh - 64px);
}

/**/
.sesion-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text-rol{
 font-size: 11px;
}

.noti{
    cursor: pointer;
}
