.progress-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress-title {
    font-size: 13px;
    font-weight: 600;
    color: #aaa;
    text-align: left;
    padding-bottom: 3px;
}

.ciclo-h1 {
    font-size: 26px;
    font-weight: 600;
}

.separador {
    height: 56px;
    border-right: 1px solid #000;
    margin: 0px 12px 12px;
}