<mat-card>
    <mat-card-content class="margenes">
        <div class="row mb-5">
            <div class="col-lg-9 col-12 mt-3">
                <h2 class="h2-details">Normativa</h2>
            </div>
            <div class="col-lg-3 col-12 text-right">
                <button type="button" mat-raised-button color="primary" class="btn-text mt-3"  [hidden]="!checkPermission('N')"
                    (click)="addNormativa();">
                    <mat-icon>add</mat-icon> Normativa
                </button>
            </div>
        </div>
        <div class="container__table mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="table mb-0">
                <ng-container matColumnDef="claveNormativa">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef class="claveNormativa"> Clave de normativa</th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.claveNormativa}} </td>
                </ng-container>
                <ng-container matColumnDef="normativa">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef class="claveNormativa"> Nombre de normativa</th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.normativa}} </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell class="table__cell table__cell--actions" *matCellDef="let element; let index = index">
                        <div class="d-flex justify-content-center">
                            <button mat-button matTooltip="Eliminar" (click)="deleteNormativa(element);" [hidden]="!checkPermission('D')">
                                <mat-icon class="delete__icon">delete_forever</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="['claveNormativa', 'normativa', 'edit']"></tr>
                <tr mat-row *matRowDef="let element; columns: ['claveNormativa', 'normativa', 'edit']"></tr>
            </table>
            <ng-template [ngIf]="dataSource?.data?.length === 0">
                <p class="empty-table mt-4">No hay datos para mostrar</p>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>