<mat-dialog-content>
    <div class="content p-0 margenes mb-4">
        <div class="row mt-2">
            <div class="col-md-12 p-0">
                <h1 class="title-page mt-2 text-principal-detail">Evidencias</h1>
                <p class="text-subprincipal-detail">Selecciona las evidencias que correspondan</p>
            </div>
            <div class="col-md-12 p-0">
                <!--<h1 class="title-page mt-2 title-gray">{{claveStorage}} {{indicadorStorage}}</h1>
                <h1 class="title-page sub-gray-resumen mb-4">{{descripcionIndicadorStorage}}</h1>-->
            </div>
            <mat-divider></mat-divider>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <mat-form-field appearance="outline" class="col-lg-6 col-6 mt-1 pl-2 float-right mt-4">
                <mat-label>Buscar por Clave, Nombre o Descripción de evidencia</mat-label>
                <!--<input type="text" matInput #input />-->
                <!-- <input type="text" matInput #input /> -->
                <input type="text" matInput #input (keyup)="applyFilter($event)" />
            </mat-form-field>
        </div>
        <div class="row mb-2">
            <div class="col-md-4 text-evidencia">
                Seleccionados
            </div>
            <div class="col-md-8 text-right">
                <span>
                    <button type="button" mat-raised-button color="primary" (click)="guardar();">
                        <mat-icon>add</mat-icon> Agregar y guardar
                    </button>&nbsp;
                    <button type="button" mat-raised-button class="mat-secundary" (click)="cerrar()">Cancelar</button>
                </span>
            </div>
        </div>


        <table mat-table [dataSource]="dataSourceAllEvidencia">
            <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox class="d-block" (change)="onChange($event, element)"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="clave">
                <th mat-header-cell *matHeaderCellDef> Clave de evidencia </th>
                <td mat-cell *matCellDef="let element"> {{element.clave}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre de evidencia</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripción de evidencia</th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="archivoAzure">
                <th mat-header-cell *matHeaderCellDef> Formato</th>
                <td mat-cell *matCellDef="let element"> {{element.nombreFormato}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell class="table__cell table__cell--actions" *matCellDef="let element; let index = index">
                    <div class="d-flex justify-content-center">
                        
                        <button mat-button matTooltip="Ver" (click)="viewFile(element)" *ngIf="canViewFile(element)">
                            <mat-icon class="eye__icon">remove_red_eye</mat-icon>
                        </button>

                        <button mat-button matTooltip="Descargar" (click)="downloadFile(element)"
                            *ngIf="canDownloadFile(element)">
                            <mat-icon>cloud_download</mat-icon>
                        </button>

                        <button mat-button *ngIf="(!canDownloadFile(element) && !canViewFile(element))">
                            <mat-icon>cloud_off</mat-icon>
                        </button>
                        
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['activo','clave', 'nombre','descripcion','archivoAzure','edit']"></tr>
            <tr mat-row
                *matRowDef="let element; columns: ['activo','clave', 'nombre', 'descripcion','archivoAzure','edit']">
            </tr>
        </table>
        <ng-template [ngIf]="dataSourceAllEvidencia.data.length === 0">
            <p class="empty-table mt-4">No hay datos para mostrar</p>
        </ng-template>

    </div>
</mat-dialog-content>