<div class="row">
    <div class="col-md-12 ">
        <div class="content-nm">
            <div class="row">
                <div class="col-md-8">
                    <div class="nm-nivel">
                        Nivel: <span>4/4</span> PG
                    </div>        
                </div>
                <div class="col-md-4 btns-ant-sig">
                    <span> < Anterior </span> <span> Siguiente > </span>
                </div>
            </div>
            <h1 class="title-page">
                Indicador SIAC
            </h1>
            <p>A2.1 Proporción de trámites de equvalencia de estudioscon dictamen oficial, en relación con el total de
                solicitudes recibidas</p>
            <div class="row">
                <div class="col-md-9">
                    <div class="row container__table">
                        <div class="col-4" >
                            <div class="resumen-th">Normativa</div>
                            <div class="resumen-td">VES-9 Reglamento de centro de computo</div>
                        </div>
                        <div class="col-2" >
                            <div class="resumen-th">Meta Actual</div>
                            <div class="resumen-td">95</div>
                        </div>
                        <div class="col-2" >
                            <div class="resumen-th">Resultado Actual</div>
                            <div class="resumen-td">95</div>
                        </div>
                        <div class="col-1" >
                            <div class="resumen-th icon-center">Cumplimiento</div>
                            <div class="resumen-td icon-center"><mat-icon class="edit__icon">done</mat-icon></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 btn-evidencia-container">
                    <button class="btn btn-evidencia">Ver evidencia</button>
                </div>
            </div>
        </div>
    </div>
</div>