<div class="row mt-2">
    <app-title-graf [datoEtapa]="obtenerTextoEtapa()" [datoDes]="'Plan de mejora - Ejecución'" [porcentaje]="avanceGlobal"
       [grafActivo]="esUsuarioACentral" [label]="'Ciclo de evaluación | Etapa | Nombre de la etapa'"></app-title-graf>
 </div>
 <div class="row">
    <div class="col-md-6">
       <h3 class="title-page display mt-2 mb-1">
          Datos del ciclo
          <mat-icon class="clickIcon" *ngIf="!toogle" (click)="showHide()">keyboard_arrow_down</mat-icon>
          <mat-icon class="clickIcon" *ngIf="toogle" (click)="showHide()">keyboard_arrow_up</mat-icon>
       </h3>
    </div>
 </div>
 <div class="row" *ngIf="toogle">
    <div class="col-md-8">
       <app-resumen-cycle-bar [arrList]="cicloEva" [bol]="false"></app-resumen-cycle-bar>
    </div>
    <div class="col-md-4">
       <app-bar-progress [fecIni]="cicloEva.etapaEvaluacion[0].fechaInicio"
          [fecFin]="cicloEva.etapaEvaluacion[0].fechaFin" [fecIniExt]="cicloEva.etapaEvaluacion[0].fechaInicioExt"
          [fecFinExt]="cicloEva.etapaEvaluacion[0].fechaFinExt"></app-bar-progress>
    </div>
 </div>
 <mat-divider class="mt-2"></mat-divider>
 
 <div class="row mt-3" style="align-items:center;">
   <div class="col-lg-8 col-md-6">
      <mat-label class="title-page">Carga la evidencia por indicador - nivel/modalidad que respalde el plan de mejora del área responsable.</mat-label>
   </div>
    <div class="col-lg-4 col-md-6 inputSearch">
        <mat-form-field appearance="outline" class="col-lg-10 col-12 mt-1 pl-2">
            <mat-label>Buscar por Campus o Área responsable</mat-label>
            <input type="text" matInput #input appInputRestriction="APLHA_NUMERIC" name="busqueda" formControlName="busqueda" (keyup)="applyFilter($event)" />
         </mat-form-field>    
    </div>
 </div>

 <div class="row pb-4 mt-4">
    <app-card-improvement-planexecution-rowinfo [dataRow] = "row"     
     *ngFor="let row of data" [tipoPantalla] = "tipoPantalla" (CargaArchivo)="cargaArchivo($event)" 
     (EliminaArchivo) = "eliminaArchivo($event)" (AutorizaPmClm)="autorizaPmClm($event)"
     [fpmNombreArchivo] = "fpmNombreArchivo" [fpmArchivoId] = "fpmArchivoId"></app-card-improvement-planexecution-rowinfo>
 </div>
 
