<mat-drawer #drawer mode="over" position="end" class="box-sidenav">
    <form [formGroup]="cicloFilterForm">
       <p>Elegir parámetros</p>
       <ng-container>
         <mat-form-field appearance="outline">
            <mat-label>Etapas</mat-label>
            <mat-select multiple formControlName="etapas" (selectionChange)="onSelectionChange($event,'etapas')">
               <!--mat-option [value]="0" *ngIf="etapasList" (click)="toggleAllSelection('etapas')">Todos</mat-option-->
               <mat-option *ngFor="let row of etapasList" [value]="row.etapaId">{{row.etapa}}</mat-option>
            </mat-select>
         </mat-form-field>
      </ng-container>
       <ng-container *ngIf="verAreaResposable">
          <mat-form-field appearance="outline">
             <mat-label>Área responsable</mat-label>
             <mat-select multiple formControlName="areaResp" (selectionChange)="onSelectionChange($event,'areaResp')">
                <!--mat-option [value]="0" *ngIf="listaAR" (click)="toggleAllSelection('areaResp')">Todos</mat-option-->
                <mat-option *ngFor="let row of listaAR" [value]="row.nombreArea">{{row.nombreArea}}</mat-option>
                <!--mat-option *ngFor="let row of listaAR" [value]="row.areaId">{{row.nombreArea}}</mat-option-->
             </mat-select>
          </mat-form-field>
       </ng-container>
       <ng-container *ngIf="verNivelModalidad">
          <mat-form-field appearance="outline">
             <mat-label>Nivel/Modalidad</mat-label>
             <mat-select multiple formControlName="nivelMod" (selectionChange)="onSelectionChange($event,'nivelMod')">
                <!--mat-option [value]="0" (click)="toggleAllSelection('nivelMod')">Todos</mat-option-->
                <mat-option *ngFor="let row of listaNivel" [value]="row.nivelModalidad">{{row.nivelModalidad}}</mat-option>
             </mat-select>
          </mat-form-field>
       </ng-container>
       <div class="container-btn-params">
          <button type="button" mat-raised-button class="mat-secundary" (click)="drawer.toggle()">Cancelar</button>
          <button type="button" mat-raised-button color="primary" (click)="aplicarFiltro()">Aplicar</button>
       </div>
       <div class="text-center">
          <button type="button" mat-raised-button (click)="CleanFilters('all')">Limpiar Filtros</button>
       </div>
    </form>
 </mat-drawer>
 