<h1 mat-dialog-title>Aceptar evidencia</h1>
<mat-divider> </mat-divider>
<mat-dialog-content>
    <div class="container pt-0 modal-font-general">

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Indicador: </label>
            </div>
            <div class="col-md-9">
                <label>{{evidenciaData.claveNombreIndicador}}</label>
            </div>
            <br>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Nivel/Modalidad: </label>
            </div>
            <div class="col-md-9">
                <label>{{evidenciaData.nivelModalidad}}</label>
            </div>
            <br>
        </div>


        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Clave evidencia:</label>
            </div>
            <div class="col-md-9">
                <label>{{evidenciaData.claveEvidencia}}</label>
            </div>
        </div>


        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Nombre evidencia:</label>
            </div>
            <div class="col-md-9">
                <label>{{evidenciaData.nombreEvidencia}}</label>
            </div>
        </div>


        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Descripción evidencia:</label>
            </div>
            <div class="col-md-9">
                <label>{{evidenciaData.descripcionEvidencia}}</label>
            </div>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Formato evidencia:</label>
            </div>
            <div class="col-md-9">
                <label>{{evidenciaData.formatoEvidencia}}</label>
            </div>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Solicitud N/A:</label>
            </div>
            <div class="col-md-9">
                <mat-checkbox [checked]="evidenciaData.solicitaNa"
                    (change)='aplicarReglasNegocioSolicita($event.checked, $event)' [disabled]="true"></mat-checkbox>
            </div>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Justificación N/A:</label>
            </div>

            <div class="col-md-9">
                <label>{{evidenciaData.justificacionNa}}</label>
            </div>
        </div>

        <div class="row margenesrow"
            *ngIf="(evidenciaData.evidenciaArchivos && evidenciaData.evidenciaArchivos.length  > 0)">
            <div class="col-md-12 container__table mat-elevation-z8">
                <table mat-table class="table mb-0" [dataSource]="dataSourceArchivos">

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Archivo</th>
                        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                            <mat-icon class="icon-file">insert_drive_file</mat-icon> {{ row.nombre }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell class="table__cell table__cell--actions" *matCellDef="let row; let index = index">
                            <div class="d-flex justify-content-center">
                                <button mat-button matTooltip="ver" (click)="viewFileEvidence(row)"
                                    *ngIf="canViewFile(row)" [disabled]="false">
                                    <mat-icon class="eye__icon">remove_red_eye</mat-icon>
                                </button>

                                <button mat-button matTooltip="descargar" *ngIf="canDownloadFile(row)"
                                    (click)="DownloadFileEvidence(row)" [disabled]="false">
                                    <mat-icon class="file_download">file_download</mat-icon>
                                </button>
                                <!-- <button mat-button matTooltip="eliminar" [disabled]="evidenciaData.esVista"
                                    (click)="remove(row)">
                                    <mat-icon class="eye__icon">delete_forever</mat-icon>
                                </button> -->
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['nombre','acciones']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['nombre','acciones']">
                    </tr>
                </table>
                <ng-template>
                    <p class="empty-table mt-4">No hay datos para mostrar</p>
                </ng-template>
            </div>
        </div>

        <div class="row margenesrow" *ngIf="(evidenciaData.evidenciaUrls && evidenciaData.evidenciaUrls.length > 0)">
            <div class="col-md-12 container__table mat-elevation-z8">
                <table mat-table class="table mb-0" [dataSource]="dataSource">
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Nombre</th>
                        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                            {{ row.nombre }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="url">
                        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>URL</th>
                        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                            <a (click)="openLink(row.url)"> {{ row.url }}</a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['nombre','url']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['nombre','url']">
                    </tr>
                </table>
                <ng-template>
                    <p class="empty-table mt-4">No hay datos para mostrar</p>
                </ng-template>
            </div>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Evidencia:</label>
            </div>
            <div class="col-md-9">
                <mat-radio-group class="radio-group" (change)="onRadioButtonChange($event)"
                    [value]="selectedValueAutorize">
                    <mat-radio-button class="radio-button" [value]="4">Aceptada</mat-radio-button>
                    <mat-radio-button class="radio-button" [value]="3">No Aceptada</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Comentarios:</label>
            </div>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="col-md-12 mt-1">
                    <input maxlength="400" matInput [(ngModel)]="evidenciaData.comentAceptar">
                </mat-form-field>
                <mat-error *ngIf="errorAutorizado">Este campo es obligatorio</mat-error>
            </div>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="pb-4">
    <button type="button" mat-raised-button class="mt-3" (click)="closeModal()"
        *ngIf="evidenciaData.esVista">Cerrar</button>
    <button type="button" mat-raised-button class="mt-3" (click)="closeModal()"
        *ngIf="!evidenciaData.esVista">Cancelar</button>
    <button mat-raised-button class="mt-3" [disabled]="(selectedValueAutorize == null)"  color="primary" (click)="guardar()">
        Guardar
    </button>

</mat-dialog-actions>