<div class="row mt-3">
   <div class="col-lg-6 col-12"></div>
   <mat-form-field appearance="outline" class="col-lg-6 col-12 mt-1 pl-2">
      <mat-label>Buscar por Nivel/Modalidad, Clave de evidencia o Formato evidencia</mat-label>
      <input type="text" matInput #input appInputRestriction="APLHA_NUMERIC" name="busqueda" formControlName="busqueda" (keyup)="applyFilter($event)" />
   </mat-form-field>
</div>
<div class="col-md-12 container__table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table mb-0">
       <ng-container matColumnDef="nivelmodalidad">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Nivel/Modalidad</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.nivelModalidadDescripcion }}
          </td>
       </ng-container>
       <ng-container matColumnDef="claveevidencia">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Clave de evidencia</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.claveEvidencia }}
          </td>
       </ng-container>
       <ng-container matColumnDef="nombreEvidencia">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Nombre de evidencia</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.nombreEvidencia }}
          </td>
       </ng-container>
       <ng-container matColumnDef="formatoEvidencia">
         <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Formato evidencia</th>
         <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
            {{ row.formatoEvidencia }}
         </td>
      </ng-container>
       <ng-container matColumnDef="evidenciaNombreArchivo">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Mis evidencias</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ obtenerTextoMisevidencias(row) }}
          </td>
       </ng-container>
       <ng-container matColumnDef="autorizaNA">
         <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef> N/A </th>
         <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           <!-- {{ row.solicitaNA }} -->
           <mat-icon *ngIf="row.solicitaNa">done</mat-icon>
         </td>
         
      </ng-container>
       <ng-container matColumnDef="justificacionNA">
         <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Justificación N/A</th>
         <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.justificacionNa}}
         </td>
       </ng-container>
       <ng-container matColumnDef="estatus">
         <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef> Estatus </th>
         <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.estatusDescripcion }}
         </td>
      </ng-container>
      <ng-container matColumnDef="edit">
         <th mat-header-cell *matHeaderCellDef> Acciones </th>
         <td mat-cell class="table__cell table__cell--actions" *matCellDef="let element; let index = index">
            <div class="d-flex justify-content-center">
               <button mat-button matTooltip="Editar" (click)="captureData(element)" *ngIf="puedeVisualizarEditar(element)">
                  <mat-icon class="edit__icon">edit</mat-icon>
               </button>
               <button mat-button matTooltip="Editar" *ngIf="puedeVisualizarEditarDeshabilitado(element)">
                  <mat-icon class="icon-inactive">edit</mat-icon>
               </button>
               <button mat-button matTooltip="Ver" (click)="viewGoal(element)">
                 <mat-icon class="eye__icon">remove_red_eye</mat-icon>
              </button>
            </div>
         </td>
      </ng-container>
       <tr mat-header-row *matHeaderRowDef="['nivelmodalidad', 'claveevidencia', 'nombreEvidencia','formatoEvidencia', 'evidenciaNombreArchivo','autorizaNA', 'justificacionNA',  'estatus','edit']"></tr>
       <tr mat-row *matRowDef="let row; columns: ['nivelmodalidad', 'claveevidencia', 'nombreEvidencia','formatoEvidencia', 'evidenciaNombreArchivo','autorizaNA', 'justificacionNA',  'estatus', 'edit']">
       </tr>
    </table>
    <ng-template>
       <p class="empty-table mt-4">No hay datos para mostrar</p>
    </ng-template>
    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
    [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
    (page)="paginatorChange($event)">
    </mat-paginator>
 </div>