<form [formGroup]="goalRecordForm" (ngSubmit)="submit()">
    <h1 mat-dialog-title>{{title}}</h1>
    <mat-divider> </mat-divider>
    <mat-dialog-content>
        <div class="container pt-0">

            <div class="row margenesrow">
                <div class="col-md-3">
                    <label>Indicador: </label>
                </div>
                <div class="col-md-9">
                    <label>{{metaData.infoindicador.claveNombreIndicador}}</label>
                </div>
                <br>
            </div>

            <div class="row margenesrow">
                <div class="col-md-3">
                    <label>Nivel/Modalidad: </label>
                </div>
                <div class="col-md-9">
                    <label>{{goalRecordForm.controls['nivel'].value}}</label>
                </div>
                <br>
            </div>

            <div class="row margenesrow">
                <div class="col-md-3">
                    <label>Decisión del ciclo anterior:</label>
                </div>
                <div class="col-md-9">
                    <label>{{goalRecordForm.controls['decisionAnteriorNombre'].value}}</label>
                </div>
            </div>

            <div class="row margenesrow">
                <div class="col-md-3">
                    <label>Meta anterior:</label>
                </div>
                <div class="col-md-9">
                    <label>{{goalRecordForm.controls['metaAnterior'].value}}</label>
                </div>
            </div>

            <div class="row margenesrow">
                <div class="col-md-3">
                    <label>Meta actual:</label>
                </div>
                <div class="col-md-9">
                    <mat-form-field appearance="outline" class="col-md-12 mt-1">
                        <input matInput name="metaActual" formControlName="metaActual" placeholder="Ingresa"
                            type="number" [maxLength]="6" (input)="limitarCaracteres($event)" [step]="1" pattern="[0-9]*" />
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>Solicitud N/A:</label>
                </div>
                <div class="col-md-9">
                    <mat-checkbox formControlName="solicitaNa"
                        (change)='aplicarReglasNegocioSolicita($event.checked, $event)'></mat-checkbox>
                </div>
            </div>

            <div class="row margenesrow">
                <div class="col-md-3">
                    <label>Justificación N/A:</label>
                </div>
                <div class="col-md-9">
                    <mat-form-field appearance="outline" class="col-md-12 mt-1">
                        <!-- <mat-label>Justificacion N/A</mat-label> -->
                        <!--input matInput name="justificacionNa" formControlName="justificacionNa"
                            placeholder="Ingresa" /-->
                        <textarea matInput placeholder="Ingresa" name="justificacionNa" formControlName="justificacionNa" [maxLength]="400" class="no-resize"></textarea>
                    </mat-form-field>
                    <mat-error *ngIf="errorJustificacion && !goalRecordForm.controls['justificacionNa'].value">Este campo es obligatorio</mat-error>
                </div>
            </div>

            <div class="row" *ngIf="metaData.solicitaNA && metaData.puedeAutorizar">
                <div class="col-md-3">
                    <label>Autorización N/A:</label>
                </div>
                 <div class="col-md-9">
                    <mat-radio-group class="radio-group" (change)="onRadioButtonChange($event)">
                        <mat-radio-button class="radio-button" [value]="5">N/A Autorizado</mat-radio-button>
                        <mat-radio-button class="radio-button" [value]="4">N/A No Autorizado</mat-radio-button>
                    </mat-radio-group>
                    <!-- <!-- <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div> -->
                    <!-- <mat-checkbox formControlName="autorizaNa"
                        (change)='aplicarReglasNegocioAutoriza($event.checked, $event)'></mat-checkbox> -->
                </div> 
            </div>

            <div class="row margenesrow" *ngIf="metaData.solicitaNA && metaData.puedeAutorizar">
                <div class="col-md-3">
                    <label>Comentarios:</label>
                </div>
                <div class="col-md-9">
                    <mat-form-field appearance="outline" class="col-md-12 mt-1">
                        <!-- <mat-label>Justificacion N/A</mat-label> -->
                        <!--input matInput name="comentAutorizaNa" formControlName="comentAutorizaNa"
                            placeholder="Ingresa" /-->
                        <textarea matInput name="comentAutorizaNa" formControlName="comentAutorizaNa" [maxLength]="400" 
                        placeholder="Ingresa" class="no-resize"></textarea>
                    </mat-form-field>
                    <mat-error *ngIf="errorAutorizado" style="margin-top: -15px;">Este campo es obligatorio</mat-error>
                </div>
            </div>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="pb-4">
        <button type="button" mat-raised-button class="mt-3" (click)="closeModal()"
            *ngIf="metaData.esVista">Cerrar</button>
        <button type="button" mat-raised-button class="mt-3" (click)="closeModal()"
            *ngIf="!metaData.esVista">Cancelar</button>
        <button submit mat-raised-button class="mt-3" color="primary" *ngIf="!metaData.esVista">
            Guardar
        </button>
        <!-- <button type="submit" mat-raised-button class="mt-3" color="primary"
            [disabled]="evidenceRecordForm.invalid || disabled ">
            Guardar
        </button> -->
    </mat-dialog-actions>
</form>