<div class="row comparator">
  <div class="col-6">
    <div class="comparator__header">
      <div class="comparator__title">{{ title1 }}</div>

      <div class="comparator__button" matRipple>
        <mat-icon class="comparator__icon">keyboard_double_arrow_right</mat-icon>
      </div>
    </div>
    <mat-card>
      <mat-checkbox class="comparator__item">item</mat-checkbox>
      <mat-checkbox class="comparator__item">item</mat-checkbox>
      <mat-checkbox class="comparator__item">item</mat-checkbox>
      <mat-checkbox class="comparator__item">item</mat-checkbox>
    </mat-card>
  </div>
  <div class="col-6">
    <div class="comparator__header">
      <div class="comparator__button" matRipple>
        <mat-icon class="comparator__icon">keyboard_double_arrow_left</mat-icon>
      </div>
      <div class="comparator__title">{{ title2 }}</div>
    </div>
    <mat-card>
      <mat-checkbox class="comparator__item">item</mat-checkbox>
      <mat-checkbox class="comparator__item">item</mat-checkbox>
      <mat-checkbox class="comparator__item">item</mat-checkbox>
      <mat-checkbox class="comparator__item">item</mat-checkbox>
    </mat-card>
  </div>
</div>
;
