<!--div class="row mt-2" *ngIf="indLeer"-->
<div class="row mt-2">
  <div class="col-12" *ngIf="indLeer">
    <div class="d-flex p-2">
      <mat-checkbox [disabled]="indicadorLeido" [checked]="indicadorLeido" (change)="addLecturaIndicador()"
        class="comparator__item ml-2">
        He leído y comprendo mi indicador
      </mat-checkbox>
      <!--button *ngIf="indicadorLeido" type="button" mat-raised-button color="secondary" class="btn-text ml-auto"
        (click)="retornarGeneracionEvaluacion();">
        Regresar<mat-icon>arrow_back</mat-icon>
      </button-->
    </div>
  </div>
  <div class="col-12 mb-4 text-right">
    <button type="button" mat-raised-button class="mat-secundary"
      (click)="retornarGeneracionEvaluacion();">
      Cerrar</button>
  </div>
</div>