table {
  width: 100% !important;
}

.mat-column-clave {
  width: 33% !important;
  text-align: center;
}

.mat-column-escala {
  width: 15% !important;
  text-align: center;
}

.mat-column-requisitoCondicion {
  width: 70% !important;
  text-align: justify;
  padding: 1em;
}


.mat-column-nombre {
  width: 33% !important;
  text-align: center;
}

/*.mat-column-edit {
     width: 33% !important;
     text-align: center;
  }*/

th {
  background-color: #FBEEE6;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.encabezados {
  background-color: #FBEEE6;
  padding: 1em;
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.descripcion {
  padding: 1em;
  text-align: center;
  color: black;
  font-size: 16px;
}

.red {
  background-color: red;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 1em;
  text-align: center;
}

.salmon {
  background-color: salmon;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 1em;
  text-align: center;
}

.text-orange {
  color: orange;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.margenes {
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

td {
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.box {
  display: flex;
}

.text-principal-detail {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.text-subprincipal-detail {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.title-gray {
  font-size: 14px;
  color: gray;
  font-weight: 500;
}

.title-gray-resumen {
  font-size: 12px;
  color: gray;
  font-weight: 500;
}

.subtitle-gray-resumen {
  font-size: 12px;
  color: gray;
  font-weight: 500;
  /*margin-top:-1em;*/
}

.indicador {
  font-size: 22px;
  color: black;
  font-weight: 500;
}

.v-line {
  border-left: thick solid gray;
  height: 100%;
  left: 50%;
  position: absolute;
}

.mat-raised-button {
  box-shadow: none !important;
}

.claveNormativa {
  width: 33% !important;
  text-align: center;
}


.claveEvidencia {
  width: 17% !important;
  text-align: center !important;

}

.claveInstitucion {
  width: 33% !important;
  text-align: center;

}

.red {
  background-color: red;
}

.salmon {
  background-color: salmon;
}

.yellow {
  background-color: #F7DC6F;
}

.green-light {
  background-color: #ABEBC6;
}

.green-medium {
  background-color: #52BE80;
}

.green {
  background-color: greenyellow;
}


.mat-column-claveComponente {
  width: 10% !important;
  text-align: justify;
  padding: 1em;
}

.mat-column-componenteMi {
  width: 25% !important;
  text-align: justify;
  padding: 1em;
}

.mat-column-indicadorMi {
  width: 25% !important;
  text-align: justify;
  padding: 1em;
}

.mat-column-claveSubIndicadorMi {
  width: 25% !important;
  text-align: justify;
  padding: 1em;
}

.mat-column-pilarEstrategicoMi {
  width: 25% !important;
  text-align: justify;
  padding: 1em;
}

.mat-column-definicionpilarEstrategicoMi {
  width: 10% !important;
  text-align: justify;
  padding: 1em;
}

.h2-details {
  font-size: 20px;
  font-weight: 500;
}

.title-page {
  font-size: 16px;
  font-weight: 500;
  margin: 0 !important;
  padding: 0;
}

.container__table {
  background: transparent;
  margin: 12px 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container__table span {
  margin: 0px 8px;
  min-width: 88px;
}

.first {
  margin: 0px 8px 0px 0px !important;
}

.last {
  margin: 0px 0px 0px 8px !important;
}

.resumen-th {
  font-size: 12px;
  color: #0000008a;
  font-weight: 100;
}

.resumen-td {
  font-size: 12px;
  color: #0000008a;
  font-weight: 400;
}

.separador {
  height: 56px;
  border-right: 1px solid #000;
}

/**/
.line-right {
  border-right: 1px solid #000;
}

.mat-mdc-raised-button.mat-detail-indicator {
  --mdc-protected-button-container-color: var(--color-secundary-5) !important;
  --mdc-protected-button-label-text-color: #000;
  width: 100%;
  font: bolder 18px Arial, Roboto, Helvetica Neue, sans-serif;
  padding: 25px 14px;
  border-radius: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.border-indicador {
  border: 1px solid var(--color-primary);
}

.text-indicador {
  color: var(--color-primary);
}

.eHeader{
  height: 84px;
}

.eTitulo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.eTitulo-1{
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.eTitulo-2{
  font-weight: 600;
}

.circle {
  font-weight: 600;
  background: var(--color-green);
  padding: 10px 17px;
  margin-right: 12px;
  border-radius: 50%;
}

.border-panel {
  border-left: 5px solid var(--color-green);
}

.icon{
  cursor: pointer;
}

.icon-gris{
  color: var(--color-secundary-4);
}

.controles{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controles-left{
  display: flex;
  justify-content: flex-end;
}