<router-outlet *ngIf="pagesChild"></router-outlet>
<div *ngIf="!pagesChild" class="content p-0">
    <div class="row mt-2">
        <!--div *ngIf="showCard==false" class="col-md-12 mt-2 evaluaciones-container">
            <p class="evaluaciones-descripcion">
                Para comenzar, selecciona una opción del menú localizado en la esquina superior izquierda o da clic en el siguiente botón para ver tus evaluaciones asignadas.
            </p>
            <button type="button" mat-raised-button color="primary" class="mt-2" (click)="misEvaluaciones()">Mis Evaluaciones</button>
            <div class="evaluaciones__content d-flex justify-content-center align-items-center"></div>
        </div-->
        <div class="col-md-12 text-center">
            <h1 class="evaluaciones-title1">Mis Evaluaciones</h1>
            <p class="mb-3">Ciclos de evaluación vigentes</p>
            <mat-divider></mat-divider>
            <h1 class="evaluaciones-title2">{{proceso}}</h1>
            <p *ngIf="showCard">Selecciona un ciclo de evaluación</p>
            <p *ngIf="!showCard">Por el momento no hay ciclos vigentes</p>
            <app-cards-cycle [ciclos]="ciclos"></app-cards-cycle>
        </div>
    </div>
</div>