<h1>Componentes</h1>
<br>
<app-title title="Componentes" desc="Generacion de Componentes"></app-title>
<br>
<h3>Select-Simple</h3>
<app-select-simple 
label="Nuevo" 
Name="nameId" 
[list]="list" 
item="id" 
title="nombre" 
(optionSelected)="handleOptionSelected($event)"
></app-select-simple>
<hr>
<h3>Notifications</h3>
<app-notification-antd [bol]="true" type="submit" types="success" txtBtn="Open" msj="Esta es una notificación Success."></app-notification-antd>
<br>
<app-notification-antd [bol]="true" type="submit" types="info" txtBtn="Open" msj="Esta es una notificación Info."></app-notification-antd>
<br>
<app-notification-antd [bol]="true" type="submit" types="warning" txtBtn="Open" msj="Esta es una notificación Warming."></app-notification-antd>
<br>
<app-notification-antd [bol]="true" type="submit" types="error" txtBtn="Open" msj="Esta es una notificación Danger."></app-notification-antd>
<br><br>
<hr>
<h3>Detalle del Indicador - Nivel/Modalidad</h3>
<app-indicator-nm></app-indicator-nm>
<br>
<hr>
<h3>Bar Progress</h3>
<div style="display: flex;justify-content: flex-end;">
    <div style="width: 40%;">
        <app-bar-progress [fecIni]="fecIni" [fecFin]="fecFin"></app-bar-progress>
    </div>
</div>
<hr>
<h3>Title Bar Progress</h3>
<app-title-bar title="Autoevaluación" desc="Selecciona un área responsable para autoevaluar cada uno de tus indicadores."></app-title-bar>
<br>
<hr>
<h3>Resumen Bar Progress</h3>
<app-resumen-bar></app-resumen-bar>
<br>
<hr>
<h3>Gráfico de Avance</h3>
<app-bar-progress-graf [porcentaje]="50"></app-bar-progress-graf>
<br>
<hr>
<h3>Título Area Responsible y Gráfica Avance</h3>
<app-title-graf [datoEtapa]="'Etapa1'" [datoDes]="'Captura de metas'" [porcentaje]="30"></app-title-graf>
<br>
<hr>