<mat-card class="example-card">
    <mat-card-header>
       
        <!-- <mat-card-title>Configuración de evidencia</mat-card-title> -->
        <mat-card-subtitle>Configuración de evidencia</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="row" style="margin-top:5%;margin-bottom: 10%;">
        <mat-form-field appearance="outline" class="col-md-12 mt-1">
            <mat-label>Clave de evidencia</mat-label>
            <mat-select (selectionChange)="onChangeClave($event)" [(value)]="clave_evidencia">
                <mat-option *ngFor="let row of datarow.formatoEvidencias" [value]="row.evidencia.clave" >
                    {{row.evidencia.clave + ' - ' + row.evidencia.nombre}}
                </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="regionRecordForm.get('directorRegionalId').hasError('required')">Este campo
                es
                obligatorio
            </mat-error> -->
        </mat-form-field>
    </div>
        <div class="row" style="margin-top:5%;margin-bottom: 10%;">
            <mat-radio-group aria-label="Tipo de evidencia" [(ngModel)]="tipoarchivo" (change)="tipoarchivoChange()" [disabled] ="!clave_evidencia">
                <mat-radio-button [value]=1>Archivo</mat-radio-button> &nbsp;
                <mat-radio-button [value]=2>URL</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row" *ngIf="tipoarchivo===2">
            <mat-form-field class="example-form-field" >
                <mat-label>Ingresar url</mat-label>
                <input matInput type="text" [(ngModel)]="urlEvidencia" [disabled] ="!clave_evidencia">
                <button matSuffix mat-icon-button aria-label="Limpiar" (click)="urlEvidencia=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="row" *ngIf="tipoarchivo===1">
            <button type="button" mat-raised-button (click)="fileInput.click()" [disabled] ="!clave_evidencia">
                Seleccionar archivo
                <mat-icon>attach_file</mat-icon>
            </button>
            <input hidden (change)="onChangeEvidenceFile($event)" #fileInput type="file" id="idfileInput"
                accept=".jpg, .png, .jpeg, .gif, .bmp, .png, .pdf, .zip, .rar, .doc, .docx, .pptx, .ppt, .xlsx, .xls, .eml">
            <span class="file-name" style="word-wrap: break-word;">{{filename}}</span>
        </div>
        <br>
        <mat-divider></mat-divider>
        <div class="row" style="margin-top:5%;">
            <mat-radio-group aria-label="Tipo de evidencia" [(ngModel)]="tipoEvidencia" (change)="RadioTipoEvidencia($event)" [disabled] ="!(filename || urlEvidencia)">
                <mat-radio-button [value]=0>Obligatoria</mat-radio-button> &nbsp;
                <mat-radio-button [value]=1>Adicional</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="row">
            <mat-form-field *ngIf="tipoEvidencia === 1">
                <mat-label>Descripción de la Evidencia Adicional</mat-label>
                <textarea matInput required [(ngModel)]="justificacion"></textarea>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="Onclose()">Cancelar</button>
        <button mat-button color="primary" (click)="onSave()" [disabled]="!isvalid()">Aceptar</button>
    </mat-card-actions>
</mat-card>