@import 'theme';

/**
* Examples:
*   color: mat-color($foreground, text);
*   background-color: mat-color($primary);
*   background-color: mat-color($accent);
*   background-color: mat-color($accent, darker);
*/

$primary: map-get($NG-SIAC-theme, primary);
$accent: map-get($NG-SIAC-theme, accent);
$warn: map-get($NG-SIAC-theme, warn);
$foreground: map-get($NG-SIAC-theme, foreground);
$background: map-get($NG-SIAC-theme, background);
