:host {
    width: 100%;
}

:host ::ng-deep .ql-editor .ql-align-left {
    display: flex;
    justify-content: left;
}

:host ::ng-deep .ql-editor .ql-align-center {
    display: flex;
    justify-content: center;
}

:host ::ng-deep .ql-editor .ql-align-right {
    display: flex;
    justify-content:right;
}

:host ::ng-deep .ql-editor .ql-align-justify {
    display: flex;
    justify-content: unset;
}
