<div class="content p-0">
    <div class="row">
        
        <div class="row pb-4">
            <div class="col-md-12 container__table mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="table mb-0">

                    <ng-container matColumnDef="idRol">
                        <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Id Rol</th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                            {{ row.rolId }}
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="nombreRol">
                        <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Nombre Rol</th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                            {{ row.rolNombre }}
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="nombreProceso">
                        <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Nombre Proceso</th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                            {{ row.procesoNombre }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Acciones </th>
                        <td mat-cell class="table__cell table__cell-name" class="table__cell table__cell--actions" *matCellDef="let element; let index = index">
                            <div class="d-flex justify-content-center">
                                <button mat-button matTooltip="Ver" (click)="redirectEdit(element)">
                                    <mat-icon class="eye__icon">remove_red_eye</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>
    
                   
                    <tr mat-header-row
                        *matHeaderRowDef="['idRol','nombreRol', 'nombreProceso', 'edit']"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['idRol','nombreRol', 'nombreProceso', 'edit']">
                    </tr>
                </table>
                <ng-template [ngIf]="dataSource.data.length === 0">
                    <p class="empty-table mt-4">No hay datos para mostrar</p>
                </ng-template>
                <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                    [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
                    (page)="paginatorChange($event)">
                </mat-paginator>
            </div>
        </div>


    </div>
</div>