<div class="content p-0">
    <div class="row mt-2">
        <div class="selection-container">
            <mat-card>
                <mat-card-content class="text-center">
                    <span>Hola {{ users.userSession.nombre }}</span>
                    <p>Selecciona el Rol para comenzar</p>
                    <div class="mt-4" id="listaBtns">

                        <!--div class="selection-btn-container" *ngFor="let row of roles; let index=index">
                            <button type="button" id="btn-{{index}}" mat-raised-button class="selection-btn mb-4" (click)="btnProcess('btnRoles-'+index,row.procesoNombre)">{{row.procesoNombre}}</button>
                            <div class="selection-subBtn-container subBtn-hidden" id="btnRoles-{{index}}">
                                <ng-container *ngFor="let item of row.roles">
                                    <button type="button" class="selection-sub-btn mb-4" (click)="btnRol(item)">{{item.nombre}}</button>
                                </ng-container>
                            </div>
                        </div-->
                        
                        <div class="selection-btn-container">
                            <div class="selection-subBtn-container">
                                <ng-container *ngFor="let item of roles">
                                    <button type="button" class="selection-sub-btn mb-4" (click)="btnRol(item)">{{item.nombre}}</button>
                                </ng-container>
                            </div>
                        </div>

                    </div>                
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>