table {
  width: 100% !important;
}

.mat-column-clave {
  width: 33% !important;
  text-align: center;
}

.mat-column-escala {
  width: 15% !important;
  text-align: center;
}

.mat-column-requisitoCondicion {
  width: 70% !important;
  text-align: justify;
  padding: 1em;
}


.mat-column-nombre {
  width: 33% !important;
  text-align: center;
}

/*.mat-column-edit {
     width: 33% !important;
     text-align: center;
  }*/

th {
  background-color: #FBEEE6;
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.encabezados {
  background-color: #FBEEE6;
  padding: 1em;
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.descripcion {
  padding: 1em;
  text-align: center;
  color: black;
  font-size: 16px;
}

.red {
  background-color: red;
  color: black;
  /*font-size:18px;*/
  font-weight: 500;
  padding: 1em;
  text-align: center;
}

.salmon {
  background-color: salmon;
  color: black;
  /*font-size:18px;*/
  font-weight: 500;
  padding: 1em;
  text-align: center;
}

.text-orange {
  color: orange;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.margenes {
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

td {
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.box {
  display: flex;
}

.text-principal-detail {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.text-subprincipal-detail {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.title-gray {
  font-size: 14px;
  color: gray;
  font-weight: 500;
}

.title-gray-resumen {
  font-size: 12px;
  color: gray;
  font-weight: 500;
}

.subtitle-gray-resumen {
  font-size: 12px;
  color: gray;
  font-weight: 500;
  /*margin-top:-1em;*/
}

.indicador {
  font-size: 22px;
  color: black;
  font-weight: 500;
}

.v-line {
  border-left: thick solid gray;
  height: 100%;
  left: 50%;
  position: absolute;
}

.mat-raised-button {
  box-shadow: none !important;
}

//  .claveNormativa{
//    width: 33% !important;
//    text-align: center;
//  }


//  .claveEvidencia{
//    width: 17% !important;
//    text-align: center !important;

//  }
//  .claveInstitucion{
//    width: 33% !important;
//    text-align: center;

//  }

.red {
  background-color: rgb(255, 0, 0);
}

.salmon {
  background-color: rgb(255, 125, 51);
}

.yellow {
  background-color: rgb(255, 246, 51);
}

.green-light {
  background-color: rgb(173, 234, 0);
}

.green-medium {
  background-color: rgb(102, 214, 0);
}

.green {
  background-color: rgb(0, 172, 0);
}

.number{
  font-size: 14px;
  color: #000000ea;
  font-weight: 600;
}

//  .mat-column-claveComponente {
//    width: 10% !important;
//    text-align: justify;
//    padding:1em;
//  }

//  .mat-column-componenteMi {
//    width: 25% !important;
//    text-align: justify;
//    padding:1em;
//  }
//  .mat-column-indicadorMi {
//    width: 25% !important;
//    text-align: justify;
//    padding:1em;
//  }
//  .mat-column-claveSubIndicadorMi {
//    width: 25% !important;
//    text-align: justify;
//    padding:1em;
//  }
//  .mat-column-pilarEstrategicoMi {
//    width: 25% !important;
//    text-align: justify;
//    padding:1em;
//  }
//  .mat-column-definicionpilarEstrategicoMi {
//    width: 10% !important;
//    text-align: justify;
//    padding:1em;
//  }

.h2-details {
  font-size: 20px;
  font-weight: 500;
}

.border-table {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  /*margin-top: 1rem !important;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  /*margin-bottom: 1rem !important;*/
}

.border-top-table {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 1rem !important;
}

.border-bottom-table {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  /*margin-bottom: 1rem !important;*/
}

.display-none{
  display: none;
}


/*.mat-mdc-cell{
  border: 0px !important;
}*/