@import 'variables';

.vertical {
margin-top: 0.7em;
}

.center{
  text-align: center!important;
}

:host ::ng-deep .mat-tooltip {
    background: var(--color-primary);
    opacity: 0.9;
    color: white;
}
