<div class="content p-0">
    <div class="row mt-2">
        <app-title title="Indicadores" desc="Consulta y agrega indicadores. Configúralos agregando la información solicitada y vinculando datos de los catálogos necesarios."></app-title>
        <mat-divider></mat-divider>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 col-12">
            <button type="button" mat-raised-button color="primary" class="btn-text mt-3" (click)="openIndicadoresRecord();" [hidden]="!checkPermission('N')">
              <mat-icon>add</mat-icon> Nuevo Indicador
            </button>
            <button type="button" mat-raised-button color="primary" class="btn-text mt-3 ms-3" [hidden]="!checkPermission('EX')"
            (click)="getAllIndicadoresExcel()" >
            <mat-icon>description</mat-icon> Exportar Excel
        </button>
        </div>
        <mat-form-field appearance="outline" class="col-lg-6 col-12 mt-1 pl-2">
            <mat-label>Buscar por Clave, Nombre o Descripción del Indicador</mat-label>
            <input type="text" matInput #input (keyup)="applyFilter($event)"/>
        </mat-form-field>
    </div>
    <div class="row pb-4">
        <div class="col-md-12 container__table mat-elevation-z8">
            <!--<div class="mat-elevation-z8">-->
                <table mat-table [dataSource]="dataSource">              
                    <ng-container matColumnDef="procesoEvaluacion">
                      <th mat-header-cell *matHeaderCellDef class="table__header table__cell-id"> Proceso de Evaluación </th>
                      <td mat-cell class="table__cell table__cell-id" *matCellDef="let element"> {{element.procesoEvaluacion}} </td>
                    </ng-container>         
                    <ng-container matColumnDef="claveIndicador">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__cell-id"> Clave del indicador </th>
                        <td mat-cell class="table__cell table__cell-id" *matCellDef="let element" class="p-3"> {{element.claveIndicador}} </td>
                      </ng-container>         
                      <ng-container matColumnDef="indicador">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__cell-name" > Nombre del indicador </th>
                        <td mat-cell class="table__cell table__cell-name d-flex" *matCellDef="let element" class="p-3"> {{element.indicador}} </td>
                      </ng-container>         
                      <ng-container matColumnDef="descripcionIndicador">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__cell-name"> Descripción del indicador </th>
                        <td mat-cell class="table__cell table__cell-name d-flex" *matCellDef="let element" class="p-3">{{element.descripcionIndicador}} </td>
                      </ng-container>             
                      <ng-container matColumnDef="elementoEvaluacion">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__cell-name"> Elemento de Evaluación </th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let element" class="p-3">{{element.claveIndicador}} - {{element.elementoEvaluacion}} </td>
                      </ng-container>             

                      <ng-container matColumnDef="activo">
                        <th mat-header-cell *matHeaderCellDef class="table__header table__cell-name"> Estatus </th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let element">
                          <mat-slide-toggle (change)="onChange($event, element)" [checked]="element.activo" >                            
                          </mat-slide-toggle>
                        </td>
                      </ng-container>      

                      <ng-container matColumnDef="edit" >                        
                        <th mat-header-cell *matHeaderCellDef class="table__header table__cell-name"> Acciones  </th>
                        <td mat-cell class="table__cell table__cell-name" class="table__cell table__cell--actions" *matCellDef="let element; let index = index">
                          <div class="d-flex justify-content-center">
                            <button mat-button matTooltip="Editar" (click)="redirectDetail(element)">
                                <mat-icon class="edit__icon">edit</mat-icon>
                              </button> 
                              <button mat-button matTooltip="Eliminar" (click)="deleteIndicator(element);">
                                  <mat-icon class="delete__icon">delete_forever</mat-icon>
                              </button>
                          </div>
                      </td>  
                      </ng-container>    
                        <tr mat-header-row *matHeaderRowDef="['procesoEvaluacion','claveIndicador','indicador','descripcionIndicador','elementoEvaluacion', 'activo','edit']"></tr>
                        <tr mat-row *matRowDef="let element; columns: ['procesoEvaluacion','claveIndicador','indicador','descripcionIndicador','elementoEvaluacion','activo','edit']"></tr>
                </table>

              <ng-template>
                      <p class="empty-table mt-4">No hay datos para mostrar</p>
                    </ng-template>      
                    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                    [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
                    (page)="paginatorChange($event)"></mat-paginator>                  
            <!--</div>  -->                        
        </div>         
    </div>    
</div>