.mat-column-procesoEvaluacion {
    width: 8% !important;
    text-align: center;

 }

 .mat-column-claveElementoEvaluacion {
    width: 8% !important;
    text-align: center;
 }

 .mat-column-indicador {
    width: 20% !important;
    text-align: justify;
 }
 
 .mat-column-descripcionIndicador {
    width: 20% !important;
    text-align: justify;
 }
 .mat-column-elementoEvaluacion {
    width: 20% !important;
    text-align: justify;
 }
 .mat-column-activo {
    width: 3% !important;
    text-align: center;
 }

 .mat-column-edit {
    width: 3% !important;
    text-align: center;
 }
