<div class="content p-0">
    <div class="row mt-2">
        <div class="col-md-12 p-0">
            <h1 class="title-page mt-2">Componentes</h1>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 col-12">
            <button type="button" mat-raised-button color="primary" class="btn-text mt-3"
                (click)="openComponentRecord()" [hidden]="!checkPermission('N')">
                <mat-icon>add</mat-icon> Nuevo Componente
            </button>
            <button type="button" mat-raised-button color="primary" class="btn-text mt-3 ms-3"
                (click)="getAllComponentsExcel()" [hidden]="!checkPermission('EX')">
                <mat-icon>description</mat-icon> Exportar Excel
            </button>
        </div>
        <mat-form-field appearance="outline" class="col-lg-6 col-12 mt-1 pl-2">
            <mat-label>Buscar por Nombre de componente</mat-label>
            <!-- <input type="text" matInput #input appInputRestriction="APLHA_NUMERIC" (keyup)="applyFilter($event)" name="busqueda" formControlName="busqueda"/> -->
            <input type="text" matInput [formControl]="searchControl" appInputRestriction="ALPHA_NUMERIC" name="busqueda" />
        </mat-form-field>
    </div>
    <div class="row pb-4">
        <div class="col-md-12 container__table mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="table mb-0">
                <ng-container matColumnDef="clave">
                    <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Clave de componente</th>
                    <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                        {{ row.clave }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Nombre de componente</th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                        {{ row.nombre }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="select">
                    <th mat-header-cell class="table__header table__cell--select" *matHeaderCellDef>
                        <div class="d-flex justify-content-center">Estatus</div>
                    </th>
                    <td mat-cell class="table__cell table__cell--select" *matCellDef="let row">
                        <div class="d-flex justify-content-center">
                            <mat-slide-toggle (change)="disableComponent(row)" [checked]="row.activo" [disabled]="!checkPermission('E')"> </mat-slide-toggle>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell class="table__header table__cell--actions" *matHeaderCellDef>Acciones</th>
                    <td mat-cell class="table__cell table__cell--actions" *matCellDef="let row; let index = index">
                        <div class="d-flex justify-content-center">
                            <button mat-button matTooltip="Editar"  (click)="editComponent(row)" [hidden]="!checkPermission('E')" >
                                <mat-icon class="edit__icon">edit</mat-icon>
                            </button>

                            <button mat-button matTooltip="Eliminar" (click)="deleteComponentByConfimation(row)" [hidden]="!checkPermission('D')">
                                <mat-icon class="delete__icon">delete_forever</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                
                

                <tr mat-header-row *matHeaderRowDef="['clave', 'name', 'select', 'edit']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['clave', 'name', 'select', 'edit']">
                </tr>
            </table>
            <ng-template>
                <p class="empty-table mt-4">No hay datos para mostrar</p>
            </ng-template>
            <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
                (page)="paginatorChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>