<h1 mat-dialog-title>{{title}}</h1>
<mat-divider> </mat-divider>
<mat-dialog-content>
    <div class="container pt-0 modal-font-general">

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Indicador: </label>
            </div>
            <div class="col-md-9">
                <label>{{resultData.claveNombreIndicador}}</label>
            </div>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Nivel/Modalidad:</label>
            </div>
            <div class="col-md-9">
                <label>{{resultData.nivelModalidad}}</label>
            </div>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Meta actual: </label>
            </div>
            <div class="col-md-9">
                <label>{{resultData.metaActual}}</label>
            </div>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Resultado actual: </label>
            </div>
            <div class="col-md-9">
                <label>{{resultData.resultadoActual}}</label>
            </div>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Se cumple la meta: </label>
            </div>
            <div class="col-md-9">
                <label>{{obtenerTextoSeCumplemetaActual()}}</label>
            </div>
        </div>
        
        <mat-divider class="mt-2"></mat-divider>
        
        <div class="row margenesrow" hidden>
            <div class="col-md-3">
                <label>Cumplimiento de rúbrica: </label>
            </div>
            <div class="col-md-9">
                <mat-radio-group class="radio-group" [disabled]="true" (change)="onRadioButtonConfirmarRubrica($event)" [value]="selectedRubrica">
                    <mat-radio-button class="radio-button" [value]="true">Confirmar valores</mat-radio-button>
                    <mat-radio-button class="radio-button" [value]="false">Ajustar valores</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row margenesrow">
            <app-rubrica-autoevaluacion #tablarubrica [indicadorData]="resultData.rubrica"
                (actualizaRubrica)="actualizaRubrica($event)" [disabled]="true"></app-rubrica-autoevaluacion>
        </div>
        <br>
        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Comentario:</label>
            </div>
            <div class="col-md-9">
                <label>{{resultData.comentario}}</label>
            </div>
        </div>
        <br>
        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Puntaje de la autoevaluación:</label>
            </div>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="col-md-12 mt-1">
                    <mat-select placeholder="Selecciona un puntaje" [disabled]="true" appearance="outline" [(ngModel)]="resultData.puntaje">
                        <mat-option *ngFor="let row of resultData.puntajeKeyValue" [value]="row.key"> {{row.value}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Solicitud N/A:</label>
            </div>
            <div class="col-md-9">
                <mat-checkbox #chkjustificacion (change)='aplicarReglasNegocioSolicita($event.checked, $event)' [(ngModel)]="resultData.solicitaNa" [disabled]="true"></mat-checkbox>
            </div>
        </div>
        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Justificación N/A:</label>
            </div>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="col-md-12 mt-1">
                    <input matInput name="justificacionNa" placeholder="Ingresa"
                        [disabled]="true"
                        [(ngModel)]="resultData.justificacionNa" />
                </mat-form-field>
                <mat-error *ngIf="errorJustificacion">El campo justificación es requerido</mat-error>
            </div>
        </div>
        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Autorización N/A:</label>
            </div>
            <div class="col-md-9">
                <mat-radio-group class="radio-group" (change)="onRadioButtonChange($event)" [value]="selectedValueAutorize">
                    <mat-radio-button class="radio-button" [value]="4">N/A Autorizado</mat-radio-button>
                    <mat-radio-button class="radio-button" [value]="5">N/A No Autorizado</mat-radio-button>
                </mat-radio-group>
            </div>
        </div> 
    
        <div class="row margenesrow" >
            <div class="col-md-3">
                <label>Comentarios:</label>
            </div>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="col-md-12 mt-1">
                    <input matInput #comentAutorizaNa [(ngModel)]="resultData.comentAutorizaNa">
                </mat-form-field>
                <mat-error *ngIf="errorAutorizado" style="margin-top: -15px;">Este campo es obligatorio</mat-error>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="pb-4">
    <button type="button" mat-raised-button class="mt-3" (click)="closeModal()"
        *ngIf="resultData.esVista">Cerrar</button>
    <button type="button" mat-raised-button class="mt-3" (click)="closeModal()"
        *ngIf="!resultData.esVista">Cancelar</button>
    <button mat-raised-button class="mt-3" color="primary" *ngIf="!resultData.esVista" (click)="guardar()">
        Guardar
    </button>
    <!-- <button type="submit" mat-raised-button class="mt-3" color="primary"
            [disabled]="evidenceRecordForm.invalid || disabled ">
            Guardar
        </button> -->
</mat-dialog-actions>