<div class="p-2">
    <h2 class="title-page my-2">Componentes y Elementos de Evaluación</h2>
    <mat-divider> </mat-divider>
    <div class="mt-2">
        <app-header-evaluation-configuration
            [configGeneralData]="configGeneralData"></app-header-evaluation-configuration>
    </div>
    <div class="container pt-2">
        <mat-dialog-content>
            <form [formGroup]="elementsRecordForm" (ngSubmit)="submit()">
                <mat-dialog-content>
                    <div class="row mt-2">
                        <mat-form-field appearance="outline" class="col-md-6">
                            <mat-label>Clave y nombre del componente</mat-label>
                            <mat-select required name="componente" formControlName="componente"
                                [compareWith]="compareItems" [(value)]="selectedComponent"
                                (selectionChange)="onSelectedComponent($event)">
                                <mat-option *ngFor="let item of componentList" [value]="item">
                                    {{ item.clave }} - {{ item.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-6">
                            <mat-label>Elementos de evaluación</mat-label>
                            <mat-select required multiple name="elementos" formControlName="elementos"
                                [compareWith]="compareItems" [(value)]="selectedElements"
                                (selectionChange)="onSelectedElements($event)">
                                <mat-option *ngFor="let item of elementSelectedList" [value]="item"
                                    [disabled]="TieneIndicadores(item)">
                                    {{ item.clave }} - {{ item.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row mt-2">
                        <div align="center">
                            <button type="button" mat-raised-button class="mb-3" color="primary" matTooltip="Grabar"
                                (click)="onAddComponentAndElement()">Grabar</button>
                            &nbsp;&nbsp;
                            <button type="button" mat-raised-button class="mb-3" matTooltip="Limpiar"
                                (click)="onCancel()">Cancelar</button>
                        </div>
                    </div>
                </mat-dialog-content>
            </form>
            <!-- lista elementos de evaluacion -->
            <div class="row pb-2">
                <div class="col-md-12 container__table mat-elevation-z8">
                    <table mat-table class="table mb-0" [dataSource]="dataSourceTable">

                        <ng-container matColumnDef="clave_componente">
                            <th mat-header-cell class="table__header" *matHeaderCellDef>Clave Componente</th>
                            <td mat-cell class="table__cell" *matCellDef="let row">
                                {{ row.componente.clave }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nombreComponente">
                            <th mat-header-cell class="table__header" *matHeaderCellDef>Nombre</th>
                            <td mat-cell class="table__cell" *matCellDef="let row">
                                {{ row.componente.nombre }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="claveelemento">
                            <th mat-header-cell class="table__header" style="width: 450px;" *matHeaderCellDef>
                                Elemento(s)</th>
                            <td mat-cell class="table__cell" *matCellDef="let row">
                                <ul>
                                    <ng-container *ngFor="let record of row.configElementosEvaluacion">
                                        <li>
                                            {{record.elementoEvaluacion.clave }} - {{
                                            record.elementoEvaluacion.nombre }}
                                        </li>
                                    </ng-container>
                                </ul>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="eliminarComponente">
                            <th mat-header-cell class="table__header table__cell--actions" *matHeaderCellDef>
                                Acciones
                            </th>
                            <td mat-cell class="table__cell table__cell--actions"
                                *matCellDef="let row; let index = index">
                                <div class="d-flex justify-content-center">
                                    <button mat-button matTooltip="Editar" (click)="onEdit(row)">
                                        <mat-icon class="edit__icon">edit</mat-icon>
                                    </button>
                                    <button mat-button matTooltip="Eliminar" (click)="onDelete(row)">
                                        <mat-icon class="delete__icon">delete_forever</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="['clave_componente','nombreComponente','claveelemento','eliminarComponente']">
                        </tr>
                        <tr mat-row
                            *matRowDef="let row; columns: ['clave_componente','nombreComponente','claveelemento','eliminarComponente']">
                        </tr>
                    </table>
                    <ng-template [ngIf]="dataSourceTable.data.length === 0">
                        <p class="empty-table mt-4">No hay datos para mostrar</p>
                    </ng-template>
                    <mat-paginator #paginator [hidden]="true" [length]="length" [pageIndex]="pageIndex"
                        [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" class="ml-auto" showFirstLastButtons
                        (page)="paginatorChange($event)"></mat-paginator>
                </div>
            </div>
        </mat-dialog-content>
    </div>
</div>