<div class="col-md-12 container__table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table mb-0">
       <ng-container matColumnDef="nombreCampus">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Campus</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.campus }}
          </td>
       </ng-container>
       <ng-container matColumnDef="area">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Área responsable</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.areaResponsable }}
          </td>
       </ng-container>
       <ng-container matColumnDef="indicadorTipoResultado">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Tipo de Resultado</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.tipoResultado }}
          </td>
       </ng-container>
       <ng-container matColumnDef="nivelModalidad">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Nivel/Modalidad</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.nivelModalidad }}
          </td>
       </ng-container>
       <ng-container matColumnDef="claveNombreElemento">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Clave y nombre del Elemento de
             Evaluación</th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
             {{ row.claveNombreElementoEvaluacion}}
          </td>
       </ng-container>
       <ng-container matColumnDef="nombreIndicador">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Clave y nombre del Indicador</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.claveNombreIndicador}}
          </td>
       </ng-container>
       <ng-container matColumnDef="subAreaCentral">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Subárea Central</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.subAreaCentral}}
          </td>
       </ng-container>
       <ng-container matColumnDef="claveEvidencia">
         <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Clave de la evidencia</th>
         <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
            {{ row.claveEvidencia ?? ''}}
         </td>
      </ng-container>
       <ng-container matColumnDef="retroalimentacion">
         <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Sesión de retroalimentación</th>
         <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
            {{ row.retroalimentacion ? row.retroalimentacion : '' }}
         </td>
      </ng-container>
       <ng-container matColumnDef="select">
          <th mat-header-cell class="table__header table__cell--select" *matHeaderCellDef>Avance</th>
          <td mat-cell class="table__cell table__cell-select" *matCellDef="let row">
             {{ row.avance === null ? '-'  : ((row.avance/100) | percent)}}
          </td>
       </ng-container>
       <ng-container matColumnDef="estatusDescripcion">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Estatus de la etapa</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ etapaId == 7 ? row.estatusEtapaDescripcion : row.estatusDescripcion}}
          </td>
       </ng-container>
         <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell class="table__cell table__cell--actions" *matCellDef="let element; let index = index">
               <div class="d-flex justify-content-center">
                  <button mat-button matTooltip="Aceptar" (click)="funcionaAceptarEvidencia(element)" *ngIf="visualizaAceptar(element)" [hidden]="!checkPermission('E')">
                     <mat-icon class="edit__icon">task_alt</mat-icon>
                  </button>
                  <button mat-button matTooltip="Aceptar" *ngIf="visualizaAceptarDeshabilitado(element)" [hidden]="!checkPermission('E')" >
                     <mat-icon class="icon-inactive">task_alt</mat-icon>
                  </button>
                  <button mat-button matTooltip="Editar" (click)="funcionEditar(element)" *ngIf="visualizaEditar(element)" [hidden]="!checkPermission('E')">
                     <mat-icon class="edit__icon">edit</mat-icon>
                  </button>
                  <button mat-button matTooltip="Autorizar" (click)="funcionEditar(element)" *ngIf="visualizaEditarUsuCentralAutorizador(element)" [hidden]="!checkPermission('E')">
                     <mat-icon>done_all</mat-icon>
                  </button>
                  <button mat-button matTooltip="Autorizar" *ngIf="visualizaEditarNaDeshabilitado(element)" [hidden]="!checkPermission('E')">
                     <mat-icon class="icon-inactive">done_all</mat-icon>
                  </button>
                  <button mat-button matTooltip="Ver" (click)="funcionVer(element)"  [hidden]="!checkPermission('C')">
                     <mat-icon class="eye__icon">remove_red_eye</mat-icon>
                  </button>
                  <button mat-button matTooltip="Acuerdos" (click)="funcionVerComentario(element)" *ngIf="visualizaComentario(element)">
                     <mat-icon >preview</mat-icon>
                  </button>
                  <button mat-button matTooltip="Acuerdos" *ngIf="visualizaComentarioDeshabilitado(element)">
                     <mat-icon class="icon-inactive">preview</mat-icon>
                  </button>
                  <button mat-button matTooltip="Revisión" (click)="funcionCaptureRevisor(element)" *ngIf="tipoVista == 2 && revIns">
                     <mat-icon>assignment_turned_in</mat-icon>
                  </button>
               </div>
            </td>
         </ng-container>

         <ng-container matColumnDef="estatusRI">
            <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Estatus de RI</th>
            <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
               {{row.estatusRIDescripcion || row.estatusRidescripcion}}
            </td>
         </ng-container>
         <ng-container matColumnDef="usuarioRevisor">
            <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Usuario revisor</th>
            <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
               {{row.usuarioRINombre || row.usuarioRinombre}}
            </td>
         </ng-container>
       <tr mat-header-row *matHeaderRowDef="columns"></tr>
       <tr mat-row *matRowDef="let row; columns: columns">
       </tr>
    </table>
    <ng-template>
       <p class="empty-table mt-4">No hay datos para mostrar</p>
    </ng-template>
    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
       [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons (page)="paginatorChange($event)">
    </mat-paginator>
 </div>