<form [formGroup]="RubricaRecordForm" (ngSubmit)="submit()">
    <h1 mat-dialog-title class="rubrica-title">{{ title }}</h1>
    <mat-divider> </mat-divider>
    <mat-dialog-content>
        <div class="container mt-4">
            <div class="row ">
                <mat-form-field appearance="outline">
                    <mat-label> Elige una escala </mat-label>
                    <mat-select formControlName="descripcion" *ngIf="banderaRubrica == true">                        
                        <mat-option *ngFor="let row of nombreMIListCatalog" [value]="row.id"> {{row.escala}} - {{row.descripcion}} </mat-option>
                    </mat-select>
                    <mat-select formControlName="descripcion" *ngIf="banderaRubrica == false" >                        
                        <mat-option *ngFor="let row of nombreMIListCatalog" [value]="row.id" [disabled]="row.id"> {{row.escala}} - {{row.descripcion}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <quill-editor #editorSettings name="requisitoCondicion" formControlName="requisitoCondicion" placeholder=" "
                (onContentChanged)="contentChanged($event)" [modules]="quillEditorModuleOptions"></quill-editor>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="pb-4">
        <button type="submit" mat-raised-button class="mt-3" color="primary">
            Guardar
        </button>
        <button type="button" mat-raised-button class="mt-3 mat-secundary" (click)="closeModalByConfimation()">Cancelar</button>
    </mat-dialog-actions>

</form>