<div class="content p-0">
    <div class="row mt-2">
        <div class="col-md-12 p-0">
            <h1 class="title-page mt-2">Criterios</h1>
        </div>
        <mat-divider></mat-divider>
    </div>
    <form [formGroup]="criteriaForm" autocomplete="off">
        <div class="row mt-3">
            <mat-form-field appearance="outline" class="col-12 col-md-3">
                <mat-label>Acreditadoras</mat-label>
                <mat-select formControlName="accreditation" (selectionChange)="onChangeAcreditation($event)">
                    <mat-option [value]="item.acreditadoraId" *ngFor="let item of accreditorList">
                        {{ item.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12 col-md-3">
                <mat-label>Proceso</mat-label>
                <mat-select formControlName="process" (selectionChange)="changeFilter()">
                    <mat-option [value]="item.acreditadoraProcesoId" *ngFor="let item of processList">
                        {{ item.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12 col-md-3">
                <mat-label>Carrera</mat-label>
                <mat-select formControlName="career" (selectionChange)="changeFilter()">
                    <mat-option [value]="item.carreraId" *ngFor="let item of careersList">
                        {{ item.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-12 col-md-3">
                <mat-label>Buscar Criterio</mat-label>
                <input type="text" matInput #input (keyup)="applyFilter($event)" />
            </mat-form-field>

        </div>
    </form>

    <div class="row pb-4">
        <div class="col-md-12 container__table mat-elevation-z8">
            <table mat-table class="table mb-0" [dataSource]="dataSource">

                <ng-container matColumnDef="criteriaId">
                    <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>No. Criterio</th>
                    <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                        {{ row.criterioId }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Criterio</th>
                    <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                        {{ row.descripcion }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="chapterId">
                    <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Capítulo</th>
                    <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                        {{ row.capituloId }} - {{ row.capitulo.nombre }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="typeEvidenceId">
                    <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Tipo de evidencia</th>
                    <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                        {{ row.tipoEvidenciaId }} - {{ row.tipoEvidencia.nombre }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell class="table__header table__cell--actions" *matHeaderCellDef>Acciones</th>
                    <td mat-cell class="table__cell table__cell--actions" *matCellDef="let row; let index = index">
                        <div class="d-flex justify-content-center">
                            <button mat-button matTooltip="Ver" (click)="openRecord(row)">
                                <mat-icon class="show__icon">visibility</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row
                    *matHeaderRowDef="['criteriaId', 'description', 'chapterId', 'typeEvidenceId', 'edit']">
                </tr>

                <tr mat-row
                    *matRowDef="let row; columns: ['criteriaId', 'description', 'chapterId', 'typeEvidenceId', 'edit']">
                </tr>
            </table>
            <ng-template [ngIf]="dataSource.data.length === 0 && criteriaForm.valid">
                <p class="empty-table mt-4">No hay datos para mostrar</p>
            </ng-template>
            <ng-template [ngIf]="criteriaForm.invalid">
                <p class="empty-table mt-4">Complete los filtros para cargar la información</p>
            </ng-template>
            <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
                (page)="paginatorChange($event)"></mat-paginator>
        </div>
    </div>
</div>