<mat-sidenav-container fullscreen>
    <mat-sidenav-content>
        <mat-toolbar color="primary" role="heading" class="mat-elevation-z6">
            <span class="sm:hidden">Laureate | Acreditadoras</span>
            <span class="hidden sm:inline">Laureate | Sistema Integral de Aseguramiento de la Calidad</span>
            <div class="grow"></div>
            <button mat-icon-button class="" aria-label="Iniciar sesión" matTooltip="Iniciar sesión" (click)="login()">
                <mat-icon>login</mat-icon>
            </button>
        </mat-toolbar>
        <div class="login__content d-flex justify-content-center align-items-center">
            <div class="md m-4">
                <!-- <img class="w-full" src="./assets/img/logo-uvm.png" alt="Laureate" /> -->
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>