/**/
.title-page{
    font: 600 24px / 32px Arial, Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

.title-des{
    font: 400 14px / 20px Arial, Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    padding-bottom: 8px;
}

.gray{
    color: #0000008a;
}