h1, 
h1 span {
    font: 600 26px / 32px Arial, Roboto, Helvetica Neue, sans-serif !important;
}

.title-des {
    color: #0000008a;
}

.container-graf {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.container-graf-txt {
    font-size: 14px;
    font-weight: 400;
    color: #111;
    padding-right: 12px;
}