<div class="row mt-2">
    <app-title-graf [datoEtapa]="obtenerTextoEtapa()" [datoDes]="'Plan de mejora Diseño - Archivo'" [porcentaje]="avanceGlobal"
       [grafActivo]="esUsuarioACentral" [label]="'Ciclo de evaluación | Etapa | Nombre de la etapa'"></app-title-graf>
 </div>
 <app-indicator-goal-parameters-control #parametro (aplicarParametros)="aplicarParametros($event)" [cc]="cc" [tipoVista]="tipoVista" [etapa]="numeroEtapa"></app-indicator-goal-parameters-control>
 <div class="row">
    <div class="col-md-6">
       <h3 class="title-page display mt-2 mb-1">
          Datos del ciclo
          <mat-icon class="clickIcon" *ngIf="!toogle" (click)="showHide()">keyboard_arrow_down</mat-icon>
          <mat-icon class="clickIcon" *ngIf="toogle" (click)="showHide()">keyboard_arrow_up</mat-icon>
       </h3>
    </div>
 </div>
 <div class="row" *ngIf="toogle">
    <div class="col-md-8"> 
       <app-resumen-cycle-bar [arrList]="cicloEva" [bol]="false"></app-resumen-cycle-bar>
    </div>
    <div class="col-md-4">
       <app-bar-progress [fecIni]="cicloEva.etapaEvaluacion[0].fechaInicio"
          [fecFin]="cicloEva.etapaEvaluacion[0].fechaFin" [fecIniExt]="cicloEva.etapaEvaluacion[0].fechaInicioExt"
          [fecFinExt]="cicloEva.etapaEvaluacion[0].fechaFinExt"></app-bar-progress>
    </div>
 </div>
 <mat-divider class="mt-2"></mat-divider>
 <div class="row mt-3">
    <div class="col-lg-6 col-12">
       <!--button type="button" mat-raised-button color="primary" class="btn-text mt-3 ms-3" (click)="getAllExcel()" [hidden]="!checkPermission('EX')">
          <mat-icon>description</mat-icon>
          Exportar Excel
       </button-->
    </div>
    <mat-form-field appearance="outline" class="col-lg-6 col-12 mt-1 pl-2">
       <mat-label>Buscar por Campus o Área responsable</mat-label>
       <input type="text" matInput #input appInputRestriction="APLHA_NUMERIC" name="busqueda" formControlName="busqueda" (keyup)="applyFilter($event)" />
    </mat-form-field>
 </div>
 <div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-9 container-filters">
      
      <span class="filtro-busqueda" matTooltip="" *ngIf="campus">Campus <span class="close" (click)="btnCleanFilters('campus')">x</span></span>
      <span class="filtro-busqueda" matTooltip="" *ngIf="areaResp">Área responsable <span class="close" (click)="btnCleanFilters('areaResp')">x</span></span>
      <span class="filtro-busqueda" matTooltip="" *ngIf="nivelMod">Nivel/Modalidad <span class="close" (click)="btnCleanFilters('nivelMod')">x</span></span>
      <span class="filtro-busqueda" matTooltip="" *ngIf="subAreaC">Subárea Central <span class="close" (click)="btnCleanFilters('subAreaCentral')">x</span></span>   
      <span class="filtro-busqueda" matTooltip="" *ngIf="estatus">Estatus de etapas <span class="close" (click)="btnCleanFilters('estatusCaptura')">x</span></span>
      <span class="filtro-busqueda" matTooltip="" *ngIf="estatusRi">Estatus de RI <span class="close" (click)="btnCleanFilters('estatusRi')">x</span></span>
      <span class="filtro-busqueda" matTooltip="" *ngIf="sesionRetro">Sesión de retroalimentación<span class="close" (click)="btnCleanFilters('sesionRetro')">x</span></span>    
      <span class="filtro-busqueda" matTooltip="" *ngIf="tipo">Tipo de Resultado <span class="close" (click)="btnCleanFilters('tipo')">x</span></span>
      <span class="filtro-busqueda" matTooltip="" *ngIf="avance">Avance <span class="close" (click)="btnCleanFilters('avance')">x</span></span>
      
      <button id="btnParams" class="btnParams" mat-raised-button (click)="parametro.toggle()">Elegir parámetros</button>
   </div>
</div>
 
 <div class="row pb-4 mt-4">
   <app-table-ceindicators-ri [dataSource] = "dataSource" [columns] = "columns" (PaginatorChange)="paginatorChange($event)"
   [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="length" [esUsuarioACentral] ="esUsuarioACentral" [esAutorizadorNa] ="esAutorizadorNa" [tipoVista]="tipoVista" [revIns]="revIns"
   (FuncionEditar) = "captureData($event)" (FuncionCaptureRevisor)="captureRevisor($event)" (FuncionVer) ="viewData($event)" [esvista]="esvista" [etapaId] = "9"
   (FuncionVerComentario)="funcionVerComentario($event)"></app-table-ceindicators-ri>
 </div>
 
