table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

// tr.example-element-row:not(.example-expanded-row):hover {
//   background: #777;
// }

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}

td , th {
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // word-wrap: break-word;
  max-width: 250px;
}

.table__header {
  font-size: small;
  text-align : center;
}

.table__cell {
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  text-align: center;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border-color: #bbb;
}

::ng-deep .mat-tooltip.tooltip-evidencias {  
  min-width: 275px;
  color: #535353;
  background: #d5d5d5 !important;
  background-color: #d5d5d5 !important;  
  filter: alpha(opacity=100) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  opacity: 1.0 !important;
}