<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="over" position="end" class="box-sidenav">
        <form [formGroup]="FilterForm">
            <p>Elegir parámetros</p>
            <mat-form-field appearance="outline" class="col-md-10" matTooltip="">
                <mat-label>Fecha de publicación</mat-label>
                <mat-date-range-input [rangePicker]="date">
                    <input matStartDate formControlName="fechaInicio" #fecInicioE1R placeholder="" >
                    <input matEndDate formControlName="fechaFin" #fecFinE1R placeholder="">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-date-range-picker #date></mat-date-range-picker>
            </mat-form-field>

            <ng-container>
                <mat-form-field appearance="outline">
                    <mat-label>Ciclo de evaluación</mat-label>
                    <mat-select multiple formControlName="ciclo" (selectionChange)="onSelectionChange($event,'ciclo')">
                    <mat-option [value]="0" *ngIf="ciclosList" (click)="toggleAllSelection('ciclo')">Todos</mat-option>
                    <mat-option *ngFor="let row of ciclosList" [value]="row.id">{{row.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <ng-container>
                <mat-form-field appearance="outline">
                  <mat-label>Estatus</mat-label>
                  <mat-select formControlName="activo" (selectionChange)="onSelectionChange($event,'activo')">
                    <mat-option [value]="true">Activo</mat-option>
                    <mat-option [value]="false">Inactivo</mat-option>
                 </mat-select>
                </mat-form-field>
            </ng-container>

            <div class="container-btn-params">
                <button type="button" mat-raised-button class="mat-secundary" (click)="drawer.toggle()">Cancelar</button>
                <button type="button" mat-raised-button color="primary" (click)="aplicarFiltro()">Aplicar</button>
            </div>
            <div class="text-center">
                <button type="button" mat-raised-button (click)="btnCleanFilters('all')">Limpiar Filtros</button>
            </div>

        </form>
    </mat-drawer>
    <mat-drawer-content>
        <app-breadcrumbs></app-breadcrumbs>
        <div style="height: 88vh">
            <main [class]="'px-4 pb-4'">
                <div class="content p-0">
                    <div class="row ">
                        <app-title title="Informes de revisión institucional" desc=""></app-title>
                        <h2>Consulta y agrega Informes de revisión institucional</h2>                        
                        <mat-divider></mat-divider>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-lg-6 col-12">
                            <button type="button" mat-raised-button color="primary" class="btn-text mt-3" (click)="openInformeRecord()"
                            [hidden]="!checkPermission('N')">
                                <mat-icon>add</mat-icon> Nuevo Informe
                            </button>
                            <button type="button" mat-raised-button color="primary" class="btn-text mt-3 ms-3"
                                (click)="getAllInformesExcel()" [hidden]="!checkPermission('EX')">
                                <mat-icon>description</mat-icon> Exportar Excel
                            </button>
                        </div>
                        <mat-form-field appearance="outline" class="col-lg-6 col-12 mt-1 pl-2"  [formGroup]="FilterForm">
                            <mat-label>Buscar por Nombre o Descripción del Informe</mat-label>
                            <!-- <input type="text" matInput #input (keyup)="applyFilter($event)" appInputRestriction="APLHA_NUMERIC" name="busqueda" formControlName="busqueda"/> -->
                            <input type="text" matInput [formControl]="searchControl" appInputRestriction="ALPHA_NUMERIC" name="busqueda" />
                        </mat-form-field>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-3"></div>
                        <div class="col-md-9 container-filters">

                          <span class="filtro-busqueda" matTooltip="" *ngIf="fecIni && fecFin">Rango de fechas <span class="close" (click)="btnCleanFilters('fechas')">x</span></span>
                          <span class="filtro-busqueda" matTooltip="" *ngIf="ciclo">Ciclo <span class="close" (click)="btnCleanFilters('ciclo')">x</span></span>
                          <span class="filtro-busqueda" matTooltip="" *ngIf="activo != null">Estatus <span class="close" (click)="btnCleanFilters('activo')">x</span></span>            
                           
                           <button id="btnParams" class="btnParams" mat-raised-button (click)="drawer.toggle()">
                            Elegir parámetros
                            </button>
                        </div>  
                      </div>

                    <div class="row pb-4 mt-4">
                        <div class="col-md-12 container__table mat-elevation-z8">

                            <table mat-table [dataSource]="dataSource" >
                                <!-- Ciclo evaluacion -->
                                <ng-container matColumnDef="ciclo">
                                    <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Ciclo de evaluación</th>
                                    <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                                        {{ row.cicloEvaluacionNombre }}
                                    </td>
                                </ng-container>
                                <!-- Nombre -->
                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Nombre del Informe</th>
                                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                                        {{ row.nombreInfRi }}
                                    </td>
                                </ng-container>
                                <!-- Descripcion -->
                                <ng-container matColumnDef="descripcion">
                                    <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Descripción del Informe</th>
                                    <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                                        {{ row.descripcionInfRi }}
                                    </td>
                                </ng-container>
                
                                <ng-container matColumnDef="Formato">
                                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Nombre del archivo</th>
                                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                                        {{ row.nombreArchivo || "-" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="FechaCrea">
                                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Fecha de publicación</th>
                                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                                        {{ obtenerFechaFormateada(row.fechaCreacion) }}
                                    </td>
                                </ng-container>

                                
                
                                <!-- Estatus -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell class="table__header table__cell--select" *matHeaderCellDef>
                                        <div class="d-flex justify-content-center">Estatus</div>
                                    </th>
                                    <td mat-cell class="table__cell table__cell--select" *matCellDef="let row">
                                        <div class="d-flex justify-content-center">
                                            <!-- <span>{{row.activo ? "Activo" : "Inactivo"}}</span> -->
                                            <mat-slide-toggle (change)="setStatusInforme(row)" [checked]="row.activo" [disabled]="!checkPermission('E')">                            
                                            </mat-slide-toggle>
                                        </div>
                                    </td>
                                </ng-container>
                
                                <ng-container matColumnDef="edit">
                                    <th mat-header-cell class="table__header table__cell--actions" *matHeaderCellDef>Acciones</th>
                                    <td mat-cell class="table__cell table__cell--actions" *matCellDef="let row; let index = index">
                                        <div class="d-flex justify-content-center">
                                           
                                            <button mat-button matTooltip="Ver" (click)="viewFile(row)" *ngIf="canViewFile(row)" [hidden]="!checkPermission('EX')">
                                                <mat-icon class="eye__icon">remove_red_eye</mat-icon>
                                            </button>
                
                                            <button mat-button matTooltip="Descargar" (click)="DownloadFile(row)" *ngIf="canDownloadFile(row)" [hidden]="!checkPermission('EX')">
                                                <mat-icon >cloud_download</mat-icon>
                                            </button>
                
                                            <button mat-button *ngIf="(!canDownloadFile(row) && !canViewFile(row))" disabled="disabled" [hidden]="!checkPermission('EX')">
                                                <mat-icon >cloud_off</mat-icon>
                                            </button>
                
                                            <button mat-button matTooltip="Editar" (click)="editInforme(row)" [hidden]="!checkPermission('E')">
                                                <mat-icon class="edit__icon">edit</mat-icon>
                                            </button>   
                
                                            <button mat-button matTooltip="Eliminar" [hidden]="!checkPermission('D')"
                                            (click)="deleteInformeByConfimation(row)">
                                                <mat-icon class="delete__icon">delete_forever</mat-icon>
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>
                
                
                                <tr mat-header-row *matHeaderRowDef="['ciclo', 'nombre', 'descripcion', 'Formato', 'FechaCrea', 'select', 'edit']"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['ciclo', 'nombre', 'descripcion', 'Formato', 'FechaCrea', 'select', 'edit']"></tr>
                            
                            
                            </table>

                            <ng-template [ngIf]="dataSource.data.length === 0">
                                <p class="empty-table mt-4">No hay datos para mostrar</p>
                            </ng-template>
                            <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                                [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
                                (page)="paginatorChange($event)"></mat-paginator>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </mat-drawer-content>
</mat-drawer-container>