<div class="content p-0">
    <div class="row mt-2">
        <div class="col-md-12 p-0">
            <h1 class="title-page mt-2">Indicadores SIAC</h1>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 col-12">
            <button type="button" mat-raised-button color="primary" class="btn-text mt-3"
                (click)="openIndicatorSiacRecord()" [disabled]="!checkPermission(2)">
                <mat-icon>add</mat-icon> Nuevo Indicador SIAC
            </button>
            <button type="button" mat-raised-button color="primary" class="btn-text mt-3 ms-3"
                (click)="getAllIndicatorSiacExcel()" [disabled]="!checkPermission(1)">
                <mat-icon>description</mat-icon> Exportar Excel
            </button>
        </div>
        <mat-form-field appearance="outline" class="col-lg-6 col-12 mt-1 pl-2">
            <mat-label>Buscar Indicador SIAC por (Clave, Nombre o Descripción)</mat-label>
            <input type="text" matInput #input (keyup)="applyFilter($event)" />
        </mat-form-field>
    </div>
    <div class="row pb-4">
        <div class="col-md-12 container__table mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="table mb-0">
                <ng-container matColumnDef="clave">
                    <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Clave</th>
                    <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                        {{ row.clave }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Nombre
                    </th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                        {{ row.nombre }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
                        Descripción
                    </th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                        {{ row.descripcion }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="elmentoEvaluacion">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
                        Elemento de Evaluación
                    </th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                        {{ row.getClaveNombre() }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="componente">
                    <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
                        Componente
                    </th>
                    <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                        {{ getComponente(row) }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="select">
                    <th mat-header-cell class="table__header table__cell--select" *matHeaderCellDef>
                        <div class="d-flex justify-content-center">Activo</div>
                    </th>
                    <td mat-cell class="table__cell table__cell--select" *matCellDef="let row">
                        <div class="d-flex justify-content-center">
                            <mat-checkbox class="d-block" [checked]="row.activo" (click)="disableIndicatorSiac(row)">
                            </mat-checkbox>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell class="table__header table__cell--actions" *matHeaderCellDef>Acciones</th>
                    <td mat-cell class="table__cell table__cell--actions" *matCellDef="let row; let index = index">
                        <div class="d-flex justify-content-center">
                            <button mat-button matTooltip="Editar" (click)="editIndicatorSiac(row)">
                                <mat-icon class="edit__icon">edit</mat-icon>
                            </button>

                            <button mat-button matTooltip="Eliminar" (click)="deleteIndicatorSiacByConfimation(row)">
                                <mat-icon class="delete__icon">delete_forever</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row
                    *matHeaderRowDef="['clave', 'name', 'description', 'elmentoEvaluacion', 'componente', 'select', 'edit']">
                </tr>
                <tr mat-row
                    *matRowDef="let row; columns: ['clave', 'name', 'description', 'elmentoEvaluacion', 'componente', 'select', 'edit']">
                </tr>
            </table>
            <ng-template [ngIf]="dataSource.data.length === 0">
                <p class="empty-table mt-4">No hay datos para mostrar</p>
            </ng-template>
            <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
                (page)="paginatorChange($event)"></mat-paginator>
        </div>
    </div>
</div>