<div class="content p-0">
  <div class="row mt-2">
    <div class="col-md-12 p-0">
      <h1 class="title-page mt-2">Configuración de la Evaluación por Área Responsable</h1>
    </div>
  </div>
  <div [hidden]="!isHiddenConfig">
    <div class="row mt-2 mb-3">
      <div class="col-lg-6 col-12">
        <button type="button" mat-raised-button color="primary" class="btn-text" (click)="createNew(false)">
          <mat-icon>add</mat-icon> Nueva configuración
        </button>
      </div>
      <mat-form-field appearance="outline" class="col-lg-6 col-12 mt-1 pl-2">
        <mat-label>Buscar metas indicador por (Id Proceso, Año, Ciclo o Institución)</mat-label>
        <input type="text" matInput #input (keyup)="applyFilter($event)" />
      </mat-form-field>
    </div>
    <div class="row pb-4">
      <div class="col-md-12 container__table mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="table mb-0">
          <ng-container matColumnDef="id">
            <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Id Proceso</th>
            <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
              {{ row.periodoEvaluacionId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="year">
            <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Año</th>
            <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">{{ row.periodoEvaluacion.anio }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cycle">
            <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Ciclo</th>
            <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">{{
              row.periodoEvaluacion.ciclo }}</td>
          </ng-container>

          <ng-container matColumnDef="institution">
            <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
              Institución
            </th>
            <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
              {{ row.periodoEvaluacion.institucion }}
            </td>
          </ng-container>

          <ng-container matColumnDef="responsabilitAreas">
            <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
              Área responsable
            </th>
            <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
              {{ row.areaResponsable.nombre }}
            </td>
          </ng-container>

          <ng-container matColumnDef="areaType">
            <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Tipo de área</th>
            <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
              {{ row.getTypeArea() }}
            </td>
          </ng-container>

          <ng-container matColumnDef="levelModality">
            <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>
              Nivel/Modalidad
            </th>
            <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
              {{ row.nivelesModalidad }}
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell class="table__header table__cell--actions" *matHeaderCellDef>Acciones</th>
            <td mat-cell class="table__cell table__cell--actions" *matCellDef="let row; let index = index">
              <div class="d-flex justify-content-center">
                <button mat-button matTooltip="Editar" (click)="edit(row)">
                  <mat-icon class="edit__icon">edit</mat-icon>
                </button>

                <button mat-button matTooltip="Eliminar" [disabled]="disabled" (click)="delete(row)">
                  <mat-icon class="delete__icon">delete_forever</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row
            *matHeaderRowDef="[ 'id', 'year', 'cycle', 'institution', 'responsabilitAreas', 'areaType', 'levelModality', 'edit' ]">
          </tr>
          <tr mat-row
            *matRowDef="let row; columns: [ 'id', 'year', 'cycle', 'institution', 'responsabilitAreas', 'areaType', 'levelModality', 'edit' ]">
          </tr>
        </table>
        <ng-template [ngIf]="dataSource.data.length === 0">
          <p class="empty-table mt-4">No hay datos para mostrar</p>
        </ng-template>
        <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
          [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
          (page)="paginatorChange($event)"></mat-paginator>
      </div>
    </div>
  </div>
  <div [hidden]="isHiddenConfig">
    <div class="row mt-1">
      <mat-tab-group (selectedTabChange)="onTabChanged($event);">
        <mat-tab>
          <ng-template mat-tab-label>Configuración General</ng-template>
          <ng-container *ngTemplateOutlet="generalConfiguration"></ng-container>
        </mat-tab>
        <mat-tab [disabled]="isDisabledElements">
          <ng-template mat-tab-label>Componentes y Elementos de Evaluación</ng-template>
          <ng-container *ngTemplateOutlet="evaluationElement"></ng-container>
        </mat-tab>
        <mat-tab [disabled]="isDisabledIndicators">
          <ng-template mat-tab-label>Indicadores</ng-template>
          <ng-container *ngTemplateOutlet="siacIndicators"></ng-container>
        </mat-tab>
        <mat-tab [disabled]="isDisabledRubrica">
          <ng-template mat-tab-label>Rúbrica de Evaluación</ng-template>
          <ng-container *ngTemplateOutlet="evaluationRubric"></ng-container>
        </mat-tab>
      </mat-tab-group>
      <ng-template #generalConfiguration>
        <div class="p-2 border border-danger border-2 rounded-bottom shadow">
          <app-config-general [initConfig]="initConfig"
            (hideMainConfig)="openGeneralConfiguration($event)"></app-config-general>
        </div>
      </ng-template>
      <ng-template #evaluationElement>
        <div class="p-2 border border-danger border-2 rounded-bottom shadow">
          <app-config-elements></app-config-elements>
        </div>
      </ng-template>
      <ng-template #siacIndicators>
        <div class="p-2 border border-danger border-2 rounded-bottom shadow">
          <app-config-indicators></app-config-indicators>
        </div>
      </ng-template>
      <ng-template #evaluationRubric>
        <div class="p-3 border border-danger border-2 rounded-bottom shadow">
          <app-config-rubrica></app-config-rubrica>
        </div>
      </ng-template>
    </div>
  </div>
</div>