<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="end" class="box-sidenav">
    <form [formGroup]="FilterForm">
      <p>Elegir parámetros</p>
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Campus</mat-label>
          <mat-select multiple formControlName="campus" (selectionChange)="onSelectionChange($event,'campus')">
            <mat-option [value]="0" *ngIf="listaCampus" (click)="toggleAllSelection('campus')">Todos</mat-option>
            <mat-option *ngFor="let row of listaCampus" [value]="row.id">{{row.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Área Responsable</mat-label>
          <mat-select multiple formControlName="areaResp" (selectionChange)="onSelectionChange($event,'areaResp')">
            <mat-option [value]="0" *ngIf="listaAR" (click)="toggleAllSelection('areaResp')">Todos</mat-option>
            <mat-option *ngFor="let row of listaAR" [value]="row.id">{{row.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Rol</mat-label>
          <mat-select multiple formControlName="roles" (selectionChange)="onSelectionChange($event,'roles')">
            <mat-option [value]="0" *ngIf="listaRoles" (click)="toggleAllSelection('roles')">Todos</mat-option>
            <mat-option *ngFor="let row of listaRoles" [value]="row.id">{{row.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container>
        <mat-form-field appearance="outline">
          <mat-label>Estatus</mat-label>
          <mat-select multiple formControlName="estatus" (selectionChange)="onSelectionChange($event,'estatus')">
            <!--mat-option [value]="0" (click)="toggleAllSelection('estatus')">Todos</mat-option-->
            <mat-option [value]="true">Leída</mat-option>
            <mat-option [value]="false">No leída</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <div class="container-btn-params">
        <button type="button" mat-raised-button class="mat-secundary" (click)="drawer.toggle()">Cancelar</button>
        <button type="button" mat-raised-button color="primary" (click)="aplicarFiltro()">Aplicar</button>
      </div>
      <div class="text-center">
        <button type="button" mat-raised-button (click)="btnCleanFilters('all')">Limpiar Filtros</button>
      </div>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container-breadcrumbs">
      <app-breadcrumbs></app-breadcrumbs>
    </div>
    <div style="height: 88vh">
      <main [class]="'px-4 pb-4'">
        <div class="content p-0">
          <div class="row">
            <app-title [title]="notiTrackJson.titulo" desc=""></app-title>
          </div>
          <div class="row">
            <div class="col-xl-3 col-md-4 p-0">
              <div class="container_table">
                <span>
                  <div class="resumen-th">Ciclo de evaluación</div>
                  <div class="resumen-td">{{notiTrackJson.cicloEvaluacionDescripcion}}</div>
                </span>
                <span>
                  <div class="resumen-th">Fecha de envío</div>
                  <div class="resumen-td">{{obtenerFechaFormateada(notiTrackJson.fechaEnvio)}}</div>
                </span>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-6 col-12"></div>
            <mat-form-field appearance="outline" class="col-lg-6 col-12 mt-1 pl-2">
              <mat-label>Buscar por usuario o correo</mat-label>
              <input type="text" matInput #input name="busqueda" formControlName="busqueda"
                (keyup)="applyFilter($event)" />
            </mat-form-field>
          </div>
          <div class="row mt-2">
            <div class="col-md-4 text-send">Notificación enviada a {{notiTrackJson.destinatarios}} usuarios</div>
            <div class="col-md-8 container-filters">
              <span class="filtro-busqueda" matTooltip="" *ngIf="campus">Campus <span class="close" (click)="btnCleanFilters('campus')">x</span></span>
              <span class="filtro-busqueda" matTooltip="" *ngIf="areaResp">Área responsable <span class="close" (click)="btnCleanFilters('areaResp')">x</span></span>
              <span class="filtro-busqueda" matTooltip="" *ngIf="roles">Rol <span class="close" (click)="btnCleanFilters('roles')">x</span></span> 
              <span class="filtro-busqueda" matTooltip="" *ngIf="estatus">Estatus <span class="close" (click)="btnCleanFilters('estatus')">x</span></span>                       
              <button id="btnParams" class="btnParams" mat-raised-button (click)="drawer.toggle()">Elegir parámetros</button>
            </div>
          </div>
          <div class="row pb-4 mt-4">
            <div class="col-md-12 container__table mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="estatus">
                  <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Estatus</th>
                  <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">{{ row.estatus ? 'Leída':'No leída' }}</td>
                </ng-container>
                <ng-container matColumnDef="campus">
                  <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Campus</th>
                  <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">{{row.usuario.campuses}}</td>
                </ng-container>
                <ng-container matColumnDef="area">
                  <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Área responsable</th>
                  <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                    {{row.usuario.claveNombreArasResponsables}}</td>
                </ng-container>
                <ng-container matColumnDef="rol">
                  <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Rol</th>
                  <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
                    {{row.usuario.rolesProcesoEvaluacion}}</td>
                </ng-container>
                <ng-container matColumnDef="usuario">
                  <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Usuario</th>
                  <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">{{row.usuario.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef>Correo</th>
                  <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">{{row.usuario.correo}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
              <ng-template [ngIf]="dataSource.data.length === 0">
                <p class="empty-table mt-4">No hay datos para mostrar</p>
              </ng-template>
              <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
                (page)="paginatorChange($event)"></mat-paginator>
            </div>
          </div>
        </div>
      </main>
    </div>
  </mat-drawer-content>
</mat-drawer-container>