<div class="content p-0 mt-4">
    <div class="row margenes">
        <div class="col-m12 p-0 box mb-2">
            <div class="col-10 line-right">
                <h1 class="title-page mt-2 text-principal-detail">{{claveStorage}} | {{indicadorStorage}}</h1>
                <p class="text-subprincipal-detail">{{descripcionIndicadorStorage}}</p>
            </div>
            <div class="col-2 p-0 indicator-ce">
                <p class="title-process">Proceso de evaluación</p>
                <p class="text-center text-principal-detail">{{idIndicadorSiac.procesoEvaluacion ?? ''}}</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="col-md-12 p-0 box mt-4">
            <div class="col-md-6 pt-3">
                <h2 class="title-page">Resumen</h2>
            </div>
            <div class="col-md-6 text-right">
                    <button type="button" mat-raised-button color="secondary" class="btn-text mt-3"  (click)="retornarGeneracionEvaluacion();"> 
                        Regresar<mat-icon>arrow_back</mat-icon>
                    </button>&nbsp;
                    <button type="button" *ngIf="!indLeer" mat-raised-button color="secondary" class="btn-text mt-3" (click)="editIndicador();"  [hidden]="!checkPermission('E')"> 
                        Editar<mat-icon>edit</mat-icon>
                    </button>
            </div>
        </div>
        <div class="col-lg-11 px-0">
            <div class="container__table">
                <span class="first">
                    <div class="resumen-th">Institución</div>
                    <div class="resumen-td">{{institucionStorage}}</div>
                </span>
                <span>
                    <div class="resumen-th">Campus</div>
                    <div class="resumen-td">{{campusStorage}}</div>
                </span>
                <span style="min-width: 104px;">
                    <div class="resumen-th">Área responsable</div>
                    <div class="resumen-td">{{areaResponsableStorage}}</div>
                </span>
                <span style="max-width: 80px;min-width: 30px;">
                    <div class="resumen-th">Nivel</div>
                    <div class="resumen-td">{{nivelStorage.replace(',',', ')}}&nbsp;&nbsp;</div>
                </span>
                <span style="max-width: 123px;min-width: 80px;">
                    <div class="resumen-th">Componente</div>
                    <div class="resumen-td">{{componenteStorage}}</div>
                </span>
                <span style="max-width: 225px;min-width: 150px;">
                    <div class="resumen-th">Elemento de Evaluación</div>
                    <div class="resumen-td">{{elementoEvaluacionStorage}}</div>
                </span>
                <span style="max-width: 250px;">
                    <div class="resumen-th">Área central</div>
                    <div class="resumen-td">{{itemAreaCentralStorage}}</div>
                </span>
                <span style="max-width: 315px;">
                    <div class="resumen-th">Subárea central</div>
                    <div class="resumen-td">{{itemSubAreaCentralStorage}}</div>
                </span>
                <span class="last">
                    <div class="resumen-th">Estatus</div>
                    <div class="resumen-td">{{estatusStorage}}</div>
                </span>
            </div>
        </div>
        <div class="col-md-12 p-0 mt-3">
            <h1 class="indicador">Configuración del Indicador</h1>
            <app-normative-indicators-control [indicadorData]="IndicadorSiac" [permissions]="permissions"></app-normative-indicators-control>
            <app-evidence-indicators-control [indicadorData]="IndicadorSiac" [permissions]="permissions"></app-evidence-indicators-control>
            <app-mi-indicators-control [indicadorData]="IndicadorSiac" [permissions]="permissions"></app-mi-indicators-control>
            <app-rubrica-indicators-control [indicadorData]="IndicadorSiac" [permissions]="permissions"></app-rubrica-indicators-control>
            <app-leido-indicators-control [urlRetorno]="urlRetorno" [permissions]="permissions"></app-leido-indicators-control>
        </div>
    </div>
</div>