<mat-card class="mt-3">
    <div class="margenes">
        <mat-card-content>
            <div class="row mb-5">
                <div class="col-lg-9 col-12 mt-3">
                    <h2 class="h2-details"> Misión Institucional (opcional)</h2>
                </div>
                <div class="col-lg-3 col-12 text-right">
                    <button *ngIf="!indLeer" type="button" mat-raised-button color="primary" class="btn-text mt-3"  [hidden]="!checkPermission('N')"
                        (click)="addCeMision();">
                        <mat-icon>add</mat-icon> Misión Institucional
                    </button>
                </div>
            </div>
            <div class="container__table mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceMision" class="table mb-0">
                    <ng-container matColumnDef="claveComponente">
                        <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Componente </th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.componenteMi}} </td>
                    </ng-container>
                    <ng-container matColumnDef="componenteMi">
                        <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Descripción del componente</th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.componenteMi}} </td>
                    </ng-container>
                    <ng-container matColumnDef="indicadorMi">
                        <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Indicador </th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.indicadorMi}} </td>
                    </ng-container>
                    <ng-container matColumnDef="claveSubIndicadorMi">
                        <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Sub Indicador </th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.subIndicadorMi}} </td>
                    </ng-container>
                    <ng-container matColumnDef="pilarEstrategicoMi">
                        <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Nombre Pilar Estratégico </th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.pilarEstrategicoMi}} </td>
                    </ng-container>
                    <ng-container matColumnDef="definicionpilarEstrategicoMi">
                        <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Definición de Pilar Estratégico </th>
                        <td mat-cell class="table__cell table__cell-name" *matCellDef="let element"> {{element.descripcionPilarEstrategicoMi}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell class="table__cell table__cell--actions"
                            *matCellDef="let element; let index = index">
                            <div class="d-flex justify-content-center">
                                <button *ngIf="!indLeer" mat-button matTooltip="Eliminar" (click)="deleteCeMI(element);"  [hidden]="!checkPermission('D')">
                                    <mat-icon class="delete__icon">delete_forever</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row
                        *matHeaderRowDef="['claveComponente','componenteMi','indicadorMi','claveSubIndicadorMi', 'pilarEstrategicoMi','definicionpilarEstrategicoMi','edit']">
                    </tr>
                    <tr mat-row
                        *matRowDef="let element; columns: ['claveComponente','componenteMi','indicadorMi','claveSubIndicadorMi', 'pilarEstrategicoMi','definicionpilarEstrategicoMi','edit']">
                    </tr>
                </table>
                <ng-template [ngIf]="dataSourceMision?.data?.length === 0">
                    <p class="empty-table mt-4">No hay datos para mostrar</p>
                </ng-template>
            </div>
        </mat-card-content>
    </div>
</mat-card>
