<div class="row mt-1">
    <div *ngIf="title" class="col-md-6">
        <h3 class="title-page mt-2 mb-1">{{title}} 
            <span class="btn-ciclo"  *ngIf="mostrarEditar">
                <button type="button" mat-raised-button color="secondary" class="btn-text" matTooltip="Editar" (click)="editRecords(arrList)">
                    Editar <mat-icon class="edit__icon">edit</mat-icon>
                </button>
            </span>
        </h3>
    </div>
    <div *ngIf="urlRedirect" class="col-md-6 text-right">
        <button type="button" mat-raised-button color="secondary" class="btn-text" matTooltip="Regresar" (click)="redirectEdit(urlRedirect)">
            <mat-icon>arrow_back</mat-icon> Regresar
        </button> 
    </div>
</div>
<div class="row">
    <div [ngClass]="{'col-md-8': bol,'col-md-4': !bol}">
        <div class="container__table">
            <span>
                <div class="resumen-th">Institución</div>
                <div class="resumen-td">{{arrList.claveInstitucion}}</div>
            </span>
            <span>
                <div class="resumen-th">Año</div>
                <div class="resumen-td">{{arrList.anio}}</div>
            </span>
            <span>
                <div class="resumen-th">Ciclo</div>
                <div class="resumen-td">{{arrList.ciclo}}</div>
            </span>
            <span *ngIf="bol">
                <div class="resumen-th">Fecha Inicio Etapa 1</div>
                <div class="resumen-td">{{obtenerFechaFormateada(arrList.fechaInicio)}}</div>
            </span>
            <span *ngIf="bol">
                <div class="resumen-th">Fecha Fin Etapa 7</div>
                <div class="resumen-td">{{obtenerFechaFormateada(arrList.fechaFin)}}</div>
            </span>
            <span>
                <div class="resumen-th">Estatus</div>
                <div class="resumen-td">{{(arrList.activo)?'Activo':'Inactivo'}}</div>
            </span>
            <span *ngIf="totalIndicadores">
                <div class="resumen-th">Total Indicadores</div>
                <div class="resumen-td">{{totalIndicadores}}</div>
            </span>
        </div>
    </div>
</div>