<h1 mat-dialog-title>{{title}}</h1>
<mat-divider> </mat-divider>
<mat-dialog-content>
    <div class="container pt-0 modal-font-general">

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Indicador: </label>
            </div>
            <div class="col-md-9">
                <label>{{modalData.infoindicador.claveNombreIndicador}}</label>
            </div>
            <br>
        </div>

        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Nivel/Modalidad: </label>
            </div>
            <div class="col-md-9">
                <mat-form-field appearance="outline">
                    <mat-label>Nivel/Modalidad</mat-label>
                    <!-- formControlName="nivelMod" (selectionChange)="onSelectionChange($event,'nivelMod')" -->
                    <!-- (click)="toggleAllSelection('nivelMod')" -->
                    <mat-select multiple [(ngModel)]="nivelesSeleccionados">
                       <mat-option [value]="0" (click)="toggleAllSelection($event)">Todos</mat-option>
                       <mat-option *ngFor="let row of listaNiveles" [value]="row.nivelModalidadId">{{row.nivelModalidadDescripcion}}</mat-option>
                    </mat-select>
                 </mat-form-field>
            </div>
            <br>
        </div>
        <!-- controles para carga -->
        <div class="row margenesrow" *ngIf="modalData.esCarga">
            <div class="col-md-3">
                <label>Carga de evidencia:</label>
            </div>
            <div class="col-md-9">
                <button mat-raised-button color="primary" (click)="uploadfile.click()" [disabled]="!nivelesSeleccionados">
                 Agregar archivo
                <mat-icon>attach_file</mat-icon>
                </button> 
                <label class="nameFile">{{modalData.nombreArchivoPmclm}}</label> 
                 <div class="row">
                     <label>Carga máxima 40MB (*.jpg, *.jpeg, *.png, *.pdf, *.docx, *.xlsx, *.pptx, *.txt)</label>
                 </div>
             </div>
             <input type="file" (change)="handleUpload($event)" 
             #uploadfile accept=".jpg, .jpeg, .png, .pdf, .docx, .xlsx, .pptx, .txt"
             hidden>
        </div>

        <div class="row margenesrow"
            *ngIf="(modalData.archivos && modalData.archivos.length  > 0 && modalData.esCarga)">
            <div class="col-md-12 container__table mat-elevation-z8">
                <table mat-table class="table mb-0" [dataSource]="dataSourceArchivos">

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Archivo</th>
                        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                            <mat-icon class="icon-file">insert_drive_file</mat-icon> {{ row.nivelesModalidad[0].nombreArchivoVisual}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell class="table__cell table__cell--actions" *matCellDef="let row; let index = index">
                            <div class="d-flex justify-content-center">
                                <button mat-button matTooltip="eliminar" (click)="remove(index,row)">
                                    <mat-icon class="eye__icon">delete_forever</mat-icon>
                                </button>                                
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['nombre','acciones']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['nombre','acciones']">
                    </tr>
                </table>
                <ng-template>
                    <p class="empty-table mt-4">No hay datos para mostrar</p>
                </ng-template>
            </div>
        </div>
        <!-- controles para carga -->

        <!-- controles para edicion -->

                <!-- controles capara carga -->
                <div class="row margenesrow"
                    *ngIf="(modalData.archivos && modalData.archivos.length  > 0 && !modalData.esCarga)">
                    <div class="col-md-12 container__table mat-elevation-z8">
                        <table mat-table class="table mb-0" [dataSource]="dataSourceArchivos">
        
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Archivo</th>
                                <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
                                    <mat-icon class="icon-file">insert_drive_file</mat-icon> {{ row.archivoNombre}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell class="table__cell table__cell--actions" *matCellDef="let row; let index = index">
                                    <div class="d-flex justify-content-center">
                                        <button mat-button matTooltip="descargar" (click)="DownloadFile(row)">
                                            <mat-icon class="file_download">file_download</mat-icon>
                                        </button>
                                        <button mat-button matTooltip="eliminar" (click)="removeAzure(row,index)">
                                            <mat-icon class="eye__icon">delete_forever</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="['nombre','acciones']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['nombre','acciones']">
                            </tr>
                        </table>
                        <ng-template>
                            <p class="empty-table mt-4">No hay datos para mostrar</p>
                        </ng-template>
                    </div>
                </div>
                <!-- controles para edicion -->
        
        <div class="row margenesrow">
            <div class="col-md-3">
                <label>Descripción evidencia:</label>
            </div>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="col-md-12 mt-1">
                    <textarea matInput class="col-md-12" [(ngModel)]="comentarioEvidencia" [disabled]="!modalData.esCarga" [maxlength]="400" rows="3"></textarea>
                    <!--input matInput [(ngModel)]="comentarioEvidencia" [disabled] = "!modalData.esCarga"-->
                </mat-form-field>
                <div class="text-msj">Máx. 400 caracteres</div>
                <mat-error class="text-err" *ngIf="errorevidencia">Este campo es obligatorio</mat-error>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="pb-4">
    <button type="button" mat-raised-button class="mt-3" (click)="closeModal()"
        *ngIf="!modalData.esCarga">Cerrar</button>
    <button type="button" mat-raised-button class="mt-3" (click)="closeModal()"
        *ngIf="modalData.esCarga">Cancelar</button>
    <button mat-raised-button class="mt-3" color="primary" *ngIf="modalData.esCarga" (click)="guardar()">
        Guardar
    </button>
</mat-dialog-actions>