<form [formGroup]="informeRecordForm" (ngSubmit)="submit()">
    <h1 mat-dialog-title>{{ title }}</h1>
    <mat-divider> </mat-divider>

    <mat-dialog-content>
        <div class="container mt-4">
            <div class="row">

                <mat-form-field appearance="outline" class="col-md-6" >
                    <mat-label>Ciclo Evaluación</mat-label>
                    <mat-select name="ciclos" formControlName="ciclo" required>
                        <mat-option *ngFor="let item of ciclosList" [value]="item">
                            {{item.nombre}}
                        </mat-option>                        
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>Nombre</mat-label>
                    <input matInput required name="nombreInfRi" appInputRestriction="APLHA_NUMERIC_FULL" #name formControlName="nombreInfRi" [maxLength]="150" />
                    <mat-error *ngIf="informeRecordForm.get('nombreInfRi').hasError('noWhitespace')">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-12 mt-1">
                    <mat-label>Descripción</mat-label>
                    <textarea  matInput required name="descripcionInfRi" appInputRestriction="APLHA_NUMERIC_FULL" 
                            #description formControlName="descripcionInfRi" [maxLength]="250" cdkAutosizeMinRows="2"></textarea>
                    <mat-error *ngIf="informeRecordForm.get('descripcionInfRi').hasError('noWhitespace')">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <div class="col-md-4 mt-0" *ngIf="!hasFile">
                    <mat-label>Adjunta archivo</mat-label>
                    <ngx-file-drag-drop formControlName="archivoInforme" class="Drag_Style"
                        style="height: 30px; margin-top: 5px; padding: 7px;"
                        emptyPlaceholder="Arrastre aquí el archvio o selecciona" activeBorderColor="#FAD1C8"
                        [multiple]="false">
                    </ngx-file-drag-drop>
                </div>
                <mat-form-field appearance="outline" class="col-md-4 mt-1" *ngIf="hasFile">
                    <mat-label>Archivo del informe</mat-label>
                    <input matInput formControlName="nombreArchivo" readonly/>
                </mat-form-field>
               
                <div class="col-md" *ngIf="hasFile">
                    <button type="button" mat-fab color="warn" aria-label="Eliminar" [ngStyle]="{transform: 'scale(0.8)'}" (click)="onDeleteFile()">
                        <mat-icon>delete_forever</mat-icon>
                      </button>
                </div>

                <span class="loadIma">Carga máxima 20MB (*.jpg, *.jpeg, *.png, *.pdf, *.docx, *.xlsx, *.pptx, *.txt)</span>
                <span class="loadIma">*El nombre de su archivo no debe contener acentos o letra eñe, los caracteres especiales permitidos son "." "_" "-"</span>

            </div>
           
        </div>
    </mat-dialog-content>


    <mat-dialog-actions align="center" class="pb-4">
        <button type="submit" mat-raised-button class="mt-3" color="primary"
            [disabled]="informeRecordForm.invalid ">
            Guardar
        </button>
        <button type="button" mat-raised-button class="mt-3" (click)="closeModalByConfimation()">Cancelar</button>
    </mat-dialog-actions>

</form>