<div class="col-md-12 container__table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table mb-0">
       <ng-container matColumnDef="nivelModalidad">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Nivel/Modalidad</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.nivelModalidadDescripcion }}
          </td>
       </ng-container>
       <ng-container matColumnDef="decisionAnterior">
          <th mat-header-cell class="table__header table__cell-name" *matHeaderCellDef> Decisión ciclo anterior </th>
          <td mat-cell class="table__cell table__cell-name" *matCellDef="let row">
             {{ row.decisionAnteriorNombre}}
          </td>
       </ng-container>

       <ng-container matColumnDef="metaAnterior">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef> Meta ciclo anterior </th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
            {{ row.metaAnterior }}
          </td>
       </ng-container>

       <ng-container matColumnDef="metaActual">
         <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef> Meta actual </th>
         <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.metaActual }}
         </td>
      </ng-container>

      <ng-container matColumnDef="noAutorizado">
         <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef> N/A </th>
         <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           <!-- {{ row.solicitaNA }} -->
           <mat-icon *ngIf="row.solicitaNa">done</mat-icon>
         </td>
      </ng-container>

      <ng-container matColumnDef="justificacionNa">
         <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef> Justificación N/A </th>
         <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.justificacionNa }}
         </td>
      </ng-container>
       
      <ng-container matColumnDef="estatus">
         <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef> Estatus </th>
         <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.estatusDescripcion }}
         </td>
      </ng-container>

       <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell class="table__cell table__cell--actions" *matCellDef="let element; let index = index">
             <div class="d-flex justify-content-center">
               <button mat-button matTooltip="Editar" (click)="captureGoal(element)" *ngIf="puedeVisualizarEditar(element)">
                  <mat-icon class="edit__icon">edit</mat-icon>
               </button>
               <button mat-button matTooltip="Editar" *ngIf="puedeVisualizarEditarDeshabilitado(element)">
                  <mat-icon class="icon-inactive">edit</mat-icon>
               </button>
                <button mat-button matTooltip="Ver" (click)="viewGoal(element)">
                  <mat-icon class="eye__icon">remove_red_eye</mat-icon>
               </button>
             </div>
          </td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="[ 'nivelModalidad', 'decisionAnterior', 'metaAnterior','metaActual','noAutorizado','justificacionNa' , 'estatus','edit']"></tr>
       <tr mat-row *matRowDef="let row; columns: [ 'nivelModalidad', 'decisionAnterior', 'metaAnterior','metaActual', 'noAutorizado','justificacionNa' , 'estatus', 'edit']">
       </tr>
    </table>
    <ng-template>
       <p class="empty-table mt-4">No hay datos para mostrar</p>
    </ng-template>
    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
    [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons
    (page)="paginatorChange($event)">
    </mat-paginator>
 </div>