<div class="margenesrow" *ngIf="puedeVisualizarMultiple()">
   <div class="col-md-12">
      <label>Para los indicadores y niveles/modalidad que se indicó una acción de mejora, carga las evidencias que la respalden de acuerdo con el PM/CLM. Puedes adjuntar documentos de manera individual para cada nivel o, si la evidencia corresponde a varios niveles, utiliza el botón "Cargar evidencia a múltiples niveles".</label>
   </div>
   <div class="col-md-12 mt-1 mb-2">
      <button type="button" mat-raised-button color="primary" matTooltip="Agregar" class="right" (click)="captureDataMultinivel()" *ngIf="usuariotipoRol == 1 && !soloVisualiza">
         Cargar evidencia múltiples niveles
         <mat-icon>uploadfile</mat-icon>
      </button>
   </div>
</div>
<div class="col-md-12 container__table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table mb-0">
       <ng-container matColumnDef="nivelmodalidad">
          <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Nivel/Modalidad</th>
          <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
             {{ row.nivelModalidadDescripcion }}
          </td>
       </ng-container>
       <ng-container matColumnDef="metaactual">
        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Meta actual</th>
        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.metaActual }}
        </td>
     </ng-container>
     <ng-container matColumnDef="resultadoactual">
        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Resultado actual</th>
        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.resultadoActual }}
        </td>
     </ng-container>
     <ng-container matColumnDef="cumplemeta">
        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Se cumple la meta actual</th>
        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ obtenerTextoSeCumplemetaActual(row.cumplimientoActual) }}
        </td>
     </ng-container>
     <ng-container matColumnDef="puntaje">
        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Puntaje de la autoevaluación</th>
        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.puntaje }}
        </td>
     </ng-container>
     <ng-container matColumnDef="puntajeAjustado">
        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Puntaje de la revisión</th>
        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.puntajeAjustado }}
        </td>
     </ng-container>
     <ng-container matColumnDef="decisionArea">
        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Decisión</th>
        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.decisionAreaDescripcion }}
        </td>
     </ng-container>
     <ng-container matColumnDef="misevidencias">
      <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Mis evidencias</th>
      <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
         {{ row.archivos ? row.archivos.length : 0  }}
      </td>
   </ng-container>
     <ng-container matColumnDef="estatusDescripcion">
        <th mat-header-cell class="table__header table__cell-id" *matHeaderCellDef>Estatus de la etapa</th>
        <td mat-cell class="table__cell table__cell-id" *matCellDef="let row">
           {{ row.estatusDescripcion }}
        </td>
     </ng-container>
       <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell class="table__cell table__cell--actions" *matCellDef="let element; let index = index">
             <div class="d-flex justify-content-center">
                <button mat-button matTooltip="Cargar" (click)="captureData(element)" *ngIf="puedeVisualizarEditar(element)">
                   <mat-icon class="edit__icon">uploadfile</mat-icon>
                </button>
                <button mat-button matTooltip="Cargar" *ngIf="!puedeVisualizarEditar(element)">
                  <mat-icon class="icon-inactive">uploadfile</mat-icon>
               </button>
                <button mat-button matTooltip="Editar" (click)="consulta(element)" *ngIf="puedeVisualizarEditar(element)">
                  <mat-icon class="edit__icon">edit</mat-icon>
               </button>
               <button mat-button matTooltip="Editar" *ngIf="!puedeVisualizarEditar(element)">
                  <mat-icon class="icon-inactive">edit</mat-icon>
               </button>
                <button mat-button matTooltip="Ver" (click)="viewGoal(element)" *ngIf="puedeVisualizarConsulta(element)">
                   <mat-icon class="eye__icon">remove_red_eye</mat-icon>
                </button>
                <button mat-button matTooltip="Ver" *ngIf="puedeVisualizarConsultaDeshabilitado(element)">
                  <mat-icon class="icon-inactive">remove_red_eye</mat-icon>
               </button>
             </div>
          </td>
       </ng-container>
       <tr mat-header-row
          *matHeaderRowDef="['nivelmodalidad','metaactual','resultadoactual','cumplemeta','puntaje','puntajeAjustado','decisionArea','misevidencias','estatusDescripcion','acciones']">
       </tr>
       <tr mat-row
          *matRowDef="let row; columns: ['nivelmodalidad','metaactual','resultadoactual','cumplemeta','puntaje','puntajeAjustado','decisionArea','misevidencias','estatusDescripcion','acciones']">
       </tr>
    </table>
    <ng-template>
       <p class="empty-table mt-4">No hay datos para mostrar</p>
    </ng-template>
    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
       [pageSizeOptions]="[25, 50, 75, 100]" class="ml-auto" showFirstLastButtons (page)="paginatorChange($event)">
    </mat-paginator>
 </div>