.rev-color {
  color: #111;
  font-weight: 700;
}

.desP {
  font-size: 13px;
  margin-bottom: 12px;
}

.respSi {
  color: green;
}

.respNo {
  color: red;
}

//Colores Rubrica
.red {
  background-color: rgb(255, 0, 0);
  /*padding: 2px 14px;*/
  border: 1px solid #ccc;
  font-size: 14px;
  width: 40px;
}

.salmon {
  background-color: rgb(255, 125, 51);
  /*padding: 2px 14px;*/
  border: 1px solid #ccc;
  font-size: 14px;
  width: 30px;
  width: 40px;
}

.yellow {
  background-color: rgb(255, 246, 51);
  /*padding: 2px 14px;*/
  border: 1px solid #ccc;
  font-size: 14px;
  width: 40px;
  text-align: center;
}

.green-light {
  background-color: rgb(173, 234, 0);
  /*padding: 2px 14px;*/
  border: 1px solid #ccc;
  font-size: 14px;
  width: 40px;
  text-align: center;
}

.green-medium {
  background-color: rgb(102, 214, 0);
  /*padding: 2px 14px;*/
  border: 1px solid #ccc;
  font-size: 14px;
  width: 40px;
  text-align: center;
}

.green {
  background-color: rgb(0, 172, 0);
  /*padding: 2px 14px;*/
  border: 1px solid #ccc;
  font-size: 14px;
  width: 40px;
  text-align: center;
}

/**/

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
}

.custom-radio label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 3px;
  background-color: white;
}

.custom-radio input[type="radio"]:checked+label::before {
  background-color: #007bff;
  border: 2px solid #007bff;
}

.custom-radio label::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.2s;
}

.custom-radio input[type="radio"]:checked+label::after {
  opacity: 1;
  background-color: white;
}

.group-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.openLink{
  color: var(--color-primary);
  text-decoration: underline;
  font-size: 12px;
}

/*Table*/
.tabla {
  width: 99%;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.w18 {
  width: 18%;
}

.w27 {
  width: 27%;
}

.tr-th {
  background-color: #f7c7a8;
  border-bottom: 1px solid #ccc;
}

.th {
  color: #111;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0px;
  height: 50px;
}

.tr-td {
  border-bottom: 1px solid #ccc;
}

.td1 {
  padding: 14px 12px;
  text-align: left;
}

.td2 {
  padding: 14px 0px;
}

/* ETAPA 6 PM */
.contenedor{
  background-color: #eee;
  border-radius: 8px;
  min-height: 46px;
  padding: 8px 12px;
}

.contenedor-file{
  background-color: #eee;
  border-radius: 8px;
  min-height: 46px;
  padding: 8px 12px;
  display: flex;
  align-items: baseline;
}

.contenedor span {
  display: flex;
}

.icon-preview{
  font-size: 20px;
  color: #007bff;
  position: relative;
  top: 8px;
}

.icon-file{
  color: green;
}

.btn-invisible{
  width: 64px;
  height: 38px;
}

.td-s{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  font-size: 12px;
}