<form [formGroup]="recordForm" (ngSubmit)="submit()">
    <h1 mat-dialog-title>{{ title }}</h1>
    <p>{{ description }}</p>
    <mat-divider></mat-divider>
    <mat-dialog-content class="modal-font-general rev-color">
        <div class="container">
            <div class="row mb-2">
                <div class="col-md-3">Campus:</div>
                <div class="col-md-9">{{metaData.campus || metaData.nombreCampus}}</div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">Área responsable:</div>
                <div class="col-md-9">{{metaData.areaResponsable || metaData.nombreArea}}</div>
            </div>
            <div class="row mb-2" *ngIf="metaData.etapa <= 5">
                <div class="col-md-3">Indicador:</div>
                <div class="col-md-9">{{metaData.claveNombreIndicador}}</div>
            </div>
            <div class="row mb-2" *ngIf="metaData.etapa <= 5">
                <div class="col-md-3">Nivel/Modalidad:</div>
                <div class="col-md-9">{{metaData.nivelModalidad}}</div>
            </div>
            <!-- [1] Etapa 1 -->
            <ng-container *ngIf="metaData.etapa == 1">
                <div class="row mb-2">
                    <div class="col-md-3">Decisión ciclo anterior:</div>
                    <div class="col-md-9">{{metaData.decisionAnteriorNombre}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Meta anterior:</div>
                    <div class="col-md-9">{{metaData.metaAnterior}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Meta institucional:</div>
                    <div class="col-md-9"><span *ngIf="metaData.metaInstitucional">{{metaData.metaInstitucional}}</span></div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Meta actual:</div>
                    <div class="col-md-9">{{metaData.metaActual}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Concuerda:</div>
                    <div class="col-md-9">
                        <span *ngIf="metaData.metaActual >= metaData.metaInstitucional && metaData.metaActual && metaData.metaInstitucional" class="respSi">Sí</span>
                        <span *ngIf="metaData.metaActual < metaData.metaInstitucional || metaData.metaActual == null || metaData.metaInstitucional == null" class="respNo">No</span>
                    </div>
                </div>    
            </ng-container>
            <!-- /Etapa 1 -->

            <!-- [2] Etapa 2 -->
            <ng-container *ngIf="metaData.etapa == 2">
                <div class="row mb-2">
                    <div class="col-md-3">Clave evidencia:</div>
                    <div class="col-md-9">{{metaData.claveEvidencia}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Nombre evidencia:</div>
                    <div class="col-md-9">{{metaData.nombreEvidencia}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Formato evidencia:</div>
                    <div class="col-md-9">{{metaData.formatoEvidencia}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Descripción de la evidencia:</div>
                    <div class="col-md-9">{{metaData.descripcionEvidencia}}</div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <table class="tabla">
                            <tr class="tr-th">
                                <th class="table__header table__cell-name th" style="text-align: left;">Archivo</th>
                                <th class="table__header table__cell-name th w27">Acción</th>
                            </tr>
                            <tr class="tr-td" *ngFor="let row of fileArr">
                                <td class="table__cell table__cell-name td1">
                                    <span class="td-s">
                                        <mat-icon class="icon-file">insert_drive_file</mat-icon> {{row.nombre}}
                                    </span>  
                                </td>
                                <td class="table__cell table__cell-name td1" style="display: flex;">
                                    <button type="button" mat-button matTooltip="ver" *ngIf="canViewFile(row)" (click)="viewFileEvidence(row)">
                                        <mat-icon class="eye__icon">remove_red_eye</mat-icon>
                                    </button>
                                    <div class="btn-invisible" *ngIf="!canViewFile(row)">&nbsp;</div>
                                    <button type="button" mat-button matTooltip="Descargar" (click)="DownloadFileEvidence(row)">
                                        <mat-icon class="eye__icon">file_download</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr class="tr-td" *ngIf="!fileArrN">
                                <td class="table__cell table__cell-name td1" colspan="2">
                                    <p class="empty-table mt-4">No hay datos para mostrar</p>
                                </td>
                            </tr> 
                        </table>
                        <br>
                        <table class="tabla">
                            <tr class="tr-th">
                                <th class="table__header table__cell-name th" style="text-align: left;">Nombre</th>
                                <th class="table__header table__cell-name th w27">URL</th>
                            </tr>
                            <tr class="tr-td" *ngFor="let row of urlFileArr">
                                <td class="table__cell table__cell-name td1">
                                    <span class="td-s">
                                        <mat-icon class="icon-link">link</mat-icon>&nbsp;
                                        <a (click)="openLink(row.url)" class="openLink">{{row.url}}</a>
                                    </span>       
                                </td>
                                <td class="table__cell table__cell-name td1" style="text-align:center">
                                    <button type="button" mat-button matTooltip="ver" (click)="openLink(row.url)">
                                        <mat-icon class="eye__icon">remove_red_eye</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr class="tr-td" *ngIf="!urlFileArrN">
                                <td class="table__cell table__cell-name td1" colspan="2">
                                    <p class="empty-table mt-4">No hay datos para mostrar</p>
                                </td>
                            </tr> 
                        </table>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3 pt-2">Evidencia:</div>
                    <div class="col-md-9">
                        <mat-radio-group class="group-radio" id="evidenceAcept" [disabled]="true">
                            <mat-radio-button class="mat-radio-button" value="4">Aceptada</mat-radio-button>
                            <mat-radio-button class="mat-radio-button" value="3">No Aceptada</mat-radio-button>
                        </mat-radio-group> 
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Comentarios*:</div>
                    <div class="col-md-9">
                        <mat-form-field appearance="outline" class="col-md-12">
                            <!--mat-label></mat-label-->
                            <input type="text" matInput #input value="{{metaData.comentAceptar}}" [disabled]="true" />
                        </mat-form-field>
                    </div>
                </div>    
            </ng-container>
            <!-- /Etapa 2 -->
             
            <!-- [3] Etapa 3 -->
            <ng-container *ngIf="metaData.etapa == 3">
                <div class="row mb-2">
                    <div class="col-md-3">Resultado anterior:</div>
                    <div class="col-md-9">{{metaData.resultadoAnterior}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Cumplimiento de la meta anterior:</div>
                    <div class="col-md-9">
                        <span *ngIf="metaData.cumplimientoAnterior" class="respSi">Sí</span>
                        <span *ngIf="!metaData.cumplimientoAnterior" class="respNo">No</span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Meta actual:</div>
                    <div class="col-md-9">{{metaData.metaActual}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Resultado actual:</div>
                    <div class="col-md-9">{{metaData.resultadoActual}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Se cumple la meta:</div>
                    <div class="col-md-9">
                        <span *ngIf="metaData.resultadoActual >= metaData.metaActual && metaData.resultadoActual && metaData.metaActual" class="respSi">Sí</span>
                        <span *ngIf="metaData.resultadoActual < metaData.metaActual || metaData.metaActual == null || metaData.resultadoActual == null" class="respNo">No</span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Justificación de No cumplimiento*:</div>
                    <div class="col-md-9">{{metaData.justificacionIncumplimiento}}</div>
                </div>
            </ng-container>
            <!-- /Etapa 3 -->

            <!-- [5] Etapa 5 -->
            <ng-container *ngIf="metaData.etapa == 5">
                <div class="row mb-2">
                    <div class="col-md-3">Meta actual:</div>
                    <div class="col-md-9">{{metaData.metaActual}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Resultado actual:</div>
                    <div class="col-md-9">{{metaData.resultadoActual}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Se cumple la meta:</div>
                    <div class="col-md-9">
                        <span *ngIf="metaData.resultadoActual >= metaData.metaActual && metaData.resultadoActual && metaData.metaActual" class="respSi">Sí</span>
                        <span *ngIf="metaData.resultadoActual < metaData.metaActual || metaData.metaActual == null || metaData.resultadoActual == null" class="respNo">No</span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Sesión de retroalimentación:</div>
                    <div class="col-md-9">{{metaData.retroalimentacion ? metaData.retroalimentacion : ''}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Puntaje de la autoevaluación:</div>
                    <div class="col-md-9">
                        <div [ngClass]="{
                            'red':metaData.puntaje == 0,
                            'salmon':metaData.puntaje == 2,
                            'yellow':metaData.puntaje == 4,
                            'green-light':metaData.puntaje == 6,
                            'green-medium':metaData.puntaje == 8,
                            'green':metaData.puntaje == 10
                        }">{{metaData.puntaje}}</div>
                        <div *ngFor="let row of metaData.puntajeKeyValue">
                            <span *ngIf="row.key == metaData.puntaje">{{replace(row.value,row.key)}}</span>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Puntaje de la revisión:</div>
                    <div class="col-md-9">
                        <div [ngClass]="{
                            'red':metaData.puntajeAjustado == 0,
                            'salmon':metaData.puntajeAjustado == 2,
                            'yellow':metaData.puntajeAjustado == 4,
                            'green-light':metaData.puntajeAjustado == 6,
                            'green-medium':metaData.puntajeAjustado == 8,
                            'green':metaData.puntajeAjustado == 10
                        }">{{metaData.puntajeAjustado}}</div>
                        <div *ngFor="let row of metaData.puntajeKeyValue">
                            <span *ngIf="row.key == metaData.puntajeAjustado">{{replace(row.value,row.key)}}</span>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Observación de ajuste de puntaje:</div>
                    <div class="col-md-9">{{metaData.observacionAjuste}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Cumplimiento de rúbrica: </label>
                    </div>
                    <div class="col-md-9">
                        <mat-radio-group class="radio-group" [disabled]="true" [value]="metaData.seConfirmoRubrica">
                            <mat-radio-button class="radio-button" [value]="true">Confirmar valores</mat-radio-button>
                            <mat-radio-button class="radio-button" [value]="false">Ajustar valores</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <app-rubrica-autoevaluacion-ajuste *ngIf="metaData.rubrica" #tablarubrica 
                        [etapa]="metaData.etapa" 
                        [indicadorData]="metaData.rubrica" 
                        [columns]="columns"
                        [disabled]="true"
                        [disabledAjuste]="true"></app-rubrica-autoevaluacion-ajuste>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Comentario:</div>
                    <div class="col-md-9">{{metaData.comentario}}</div>
                </div>
            <!--
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Revisión del puntaje de la autoevaluación: </label>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <label>Revisa el puntaje y confírmalo o ajústalo</label>
                        </div>
                        <mat-radio-group class="radio-group" [value]="metaData.seConfirmoPuntaje" [disabled]="true">
                            <mat-radio-button class="radio-button" [value]="true">Confirmar puntaje</mat-radio-button>
                            <mat-radio-button class="radio-button" [value]="false">Ajustar puntaje</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Puntaje de la autoevaluación:</label>
                    </div>
                    <div class="col-md-9">
                        <mat-form-field appearance="outline" class="col-md-12 mt-1">
                            <mat-select placeholder="Selecciona un puntaje" formControlName="puntaje" [disabled]="true" appearance="outline"> 
                                <mat-option *ngFor="let row of metaData.puntajeKeyValue" [value]="row.key"> {{row.value}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Puntaje de la revisión:</label>
                    </div>
                    <div class="col-md-9">
                        <mat-form-field appearance="outline" class="col-md-12 mt-1">
                            <mat-select placeholder="Selecciona un puntaje" formControlName="puntajeAjustado" [disabled]="true" appearance="outline">
                                <mat-option *ngFor="let row of metaData.puntajeKeyValue" [value]="row.key"> {{row.value}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Observación de ajuste de puntaje:</label>
                    </div>
                    <div class="col-md-9">
                        <mat-form-field appearance="outline" class="col-md-12 mt-1">
                            <textarea matInput placeholder="Ingresa" [disabled]="true" [maxLength]="400" class="no-resize">
                                {{metaData.observacionAjuste}}
                            </textarea>
                        </mat-form-field>
                    </div>
                </div>
            --> 
            </ng-container>
            <!-- /Etapa 5 -->

            <!-- [9] Etapa 6 D PM -->
            <ng-container *ngIf="(metaData.etapa == 9) && metaData.E6PM">
                <div class="row mb-2">
                    <div class="col-md-3">Sesión de retroalimentación:</div>
                    <div class="col-md-9">
                        <mat-checkbox [checked]="metaData.sesionRetro" [disabled]="true"></mat-checkbox>  
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="contenedor">
                            <p class="px-0">
                                <mat-icon class="icon-preview">preview</mat-icon> Comentarios de retroalimentación (acuerdos)
                            </p>
                            <div *ngIf="metaData.comentarioRetro" [innerHTML]="metaData.comentarioRetro"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label>Archivo PM/CLM:</label>
                        <div class="contenedor-file" *ngIf="metaData.nombreArchivoPMCLM">
                            <span>
                                <mat-icon class="icon-file">insert_drive_file</mat-icon> 
                                {{metaData.nombreArchivoPMCLM}} 
                            </span> 
                            <button type="button" mat-button matTooltip="Descargar" (click)="DownloadFile(metaData)" *ngIf="!metaData.esVista">
                                <mat-icon class="eye__icon">file_download</mat-icon>
                            </button>
                            <button type="button" mat-button matTooltip="Descargar" (click)="DownloadFileVista(metaEtapaArchivo)" *ngIf="metaData.esVista">
                                <mat-icon class="eye__icon">file_download</mat-icon>
                            </button>
                        </div>
                        <div class="contenedor" *ngIf="!metaData.nombreArchivoPMCLM">
                            <p class="text-center">No hay archivo que mostrar.</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Estatus de PM/CLM:</div>
                    <div class="col-md-9">{{metaData.estatusDescripcion}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Comentarios de autorizador:</div>
                    <div class="col-md-9">{{metaData.comentNoAutorizado}}</div>
                </div>    
            </ng-container>
            <!-- /Etapa 6 D PM -->

            <!-- [6] Etapa 6 Decisión -->
            <ng-container *ngIf="metaData.etapa == 6">
                <div class="row mb-2" >
                    <div class="col-md-12">
                        <label>Archivo PM/CLM:</label>
                        <div class="contenedor-file" style="display: flex;" *ngIf="metaData.pmarchivoNombre">
                            <span>
                                <mat-icon class="icon-file">insert_drive_file</mat-icon> 
                                {{metaData.pmarchivoNombre}} 
                            </span> 
                            <button type="button" mat-button matTooltip="Descargar" (click)="DownloadFile(metaData)" *ngIf="!metaData.esVista">
                                <mat-icon class="eye__icon">file_download</mat-icon>
                            </button>
                            <button type="button" mat-button matTooltip="Descargar" (click)="DownloadFileVista(metaEtapaArchivo)" *ngIf="metaData.esVista">
                                <mat-icon class="eye__icon">file_download</mat-icon>
                            </button>
                        </div>
                        <div class="contenedor" *ngIf="!metaData.pmarchivoNombre">
                            <p class="text-center">No hay archivo que mostrar.</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Estatus de PM/CLM:</div>
                    <div class="col-md-9">{{metaData.estatusDescripcion}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Nivel/Modalidad:</div>
                    <div class="col-md-9">{{metaData.nivelModalidad}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Sugerencia SIAC:</div>
                    <div class="col-md-9">{{metaData.sugerenciaSiac || metaData.sugerenciaSIAC}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Decisión:</div>
                    <div class="col-md-9">{{metaData.decisionAreaDescripcion}}</div>
                </div>
            </ng-container>
            <!-- /Etapa 6 Decisión -->
             
            <!-- [7] Etapa 6 Ejecución -->
            <ng-container *ngIf="metaData.etapa == 7">
                <div class="row mb-2" >
                    <div class="col-md-12">
                        <label>Archivo PM/CLM:</label>
                        <div class="contenedor-file" *ngIf="metaData.nombrePMCLM">
                            <span>
                                <mat-icon class="icon-file">insert_drive_file</mat-icon> 
                                {{metaData.nombrePMCLM}}
                            </span> 
                            <button type="button" mat-button matTooltip="Descargar" (click)="DownloadFile(metaData)" *ngIf="!metaData.esVista">
                                <mat-icon class="eye__icon">file_download</mat-icon>
                            </button>
                            <button type="button" mat-button matTooltip="Descargar" (click)="DownloadFileVista(metaEtapaArchivo)" *ngIf="metaData.esVista">
                                <mat-icon class="eye__icon">file_download</mat-icon>
                            </button>
                        </div>
                        <div class="contenedor" *ngIf="!metaData.nombrePMCLM">
                            <p class="text-center">No hay archivo que mostrar.</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Estatus de PM/CLM:</div>
                    <div class="col-md-9">{{metaData.estatusPMCLMDescripcion}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Nivel/Modalidad:</div>
                    <div class="col-md-9">{{metaData.nivelModalidad}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Sugerencia SIAC:</div>
                    <div class="col-md-9">{{metaData.sugerenciaSIAC}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">Decisión:</div>
                    <div class="col-md-9">{{metaData.decisionArea}}</div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <label>Evidencias cargadas:</label>
                        <table class="tabla">
                            <tr class="tr-th">
                                <th class="table__header table__cell-name th" style="text-align: left;">Archivo</th>
                                <th class="table__header table__cell-name th w27">Acción</th>
                            </tr>
                            <tr class="tr-td" *ngFor="let row of fileArr">
                                <td class="table__cell table__cell-name td1">
                                    <span class="td-s">
                                        <mat-icon class="icon-file">insert_drive_file</mat-icon> {{row.archivoNombre}}
                                    </span>
                                </td>
                                <td class="table__cell table__cell-name td1" style="display: flex;">
                                    <button type="button" mat-button matTooltip="ver" *ngIf="canViewFile(row)" (click)="viewFileE7(row)">
                                        <mat-icon class="eye__icon">remove_red_eye</mat-icon>
                                    </button>
                                    <div class="btn-invisible" *ngIf="!canViewFile(row)">&nbsp;</div>
                                    <button type="button" mat-button matTooltip="Descargar" (click)="DownloadFileE7(row)">
                                        <mat-icon class="eye__icon">file_download</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr class="tr-td" *ngIf="!fileArrN">
                                <td class="table__cell table__cell-name td1" colspan="2">
                                    <p class="empty-table mt-4">No hay datos para mostrar</p>
                                </td>
                            </tr> 
                        </table>
                    </div>
                </div>
            </ng-container>
            <!-- /Etapa 6 Ejecución -->
            <div class="row my-2">
                <mat-divider></mat-divider>
            </div>
            <div class="row">
                <p class="desP">Completa los siguientes datos correspondientes a la Revisión Institucional (RI)</p>
                <div class="col-md-12 mb-4">
                    <table class="tabla">
                        <tr class="tr-th">
                            <th class="table__header table__cell-name th" style="text-align: left;">Criterios de revisión institucional</th>
                            <th class="table__header table__cell-name th w18">Cumple</th>
                            <th class="table__header table__cell-name th w18">No cumple</th>
                        </tr>
                        <tr class="tr-td" *ngFor="let row of criterios; let i = index">
                            <td class="table__cell table__cell-name td1">
                                {{row.criterioRevision}}
                            </td>
                            <td class="table__cell table__cell-name td2" colspan="2">
                                <mat-radio-group class="group-radio" formControlName="customRadios" id="{{row.id}}" [disabled]="metaData.esVista" (change)="onRadioCriterios($event, row.id)">
                                    <mat-radio-button class="mat-radio-button" value="1" [disabled]="metaData.esVista"></mat-radio-button>
                                    <mat-radio-button class="mat-radio-button" value="2" [disabled]="metaData.esVista"></mat-radio-button>
                                </mat-radio-group>                                                                  
                            </td>
                          </tr>
                    </table>
                </div>
                <div class="col-md-3 pt-2">Comentario de RI*:</div>
                <div class="col-md-9">
                    <div class="col-md-12 pt-2" *ngIf="metaData.esVista">{{comentarioRi}}</div>
                    <mat-form-field appearance="outline" class="col-md-12" *ngIf="!metaData.esVista">                        
                        <mat-label>Ingresa</mat-label>
                        <textarea matInput required name="comentarioRi" formControlName="comentarioRi" class="no-resize" rows="2" [maxLength]="300"></textarea>
                    </mat-form-field>
                    <mat-error *ngIf="errComentario" style="margin-top: -15px;margin-bottom: 10px;">Este campo es obligatorio</mat-error>
                </div>
                <div class="col-md-3">Fecha de sesión RI con el área:</div>
                <div class="row col-md-9">
                    <div class="col-md-6">
                        <div class="col-md-12 pt-2" *ngIf="metaData.esVista">{{obtenerFechaFormateada(fechaSesionRi)}}</div>
                        <mat-form-field appearance="outline" class="col-md-12" *ngIf="!metaData.esVista" matTooltip="">
                            <mat-label>Selecciona</mat-label>
                            <input matInput [matDatepicker]="dateF" [min]="today" formControlName="fechaSesionRi" #fecFinE8R placeholder="Fecha">
                            <mat-datepicker-toggle matIconSuffix [for]="dateF"></mat-datepicker-toggle>
                            <mat-datepicker #dateF></mat-datepicker>
                        </mat-form-field>    
                    </div>
                    <div class="col-md-6" *ngIf="!metaData.esVista">Compartir con área 
                        <mat-checkbox formArrayName="shared" formControlName="shared" [checked]="compartirArea" (change)="shared($event)"></mat-checkbox> 
                    </div>
                </div>
                <div class="col-md-3 pt-2">Estatus*:</div>
                <div class="col-md-9">
                    <div class="col-md-12 pt-2" *ngIf="metaData.esVista">
                    {{estatusRiid}}
                    </div>
                    <mat-form-field appearance="outline" class="col-md-12" *ngIf="!metaData.esVista">
                        <mat-label>Selecciona</mat-label>  
                        <mat-select formControlName="estatusRiid" #estatusRiid>
                            <mat-option>Selecciona</mat-option>
                            <mat-option *ngFor="let row of estatusRi" [value]="row.id">
                                {{row.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="errEstatus" style="margin-top: -15px;">Este campo es obligatorio</mat-error>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="pb-2 text-center">
        <button type="submit" mat-raised-button class="mt-3" color="primary" *ngIf="!metaData.esVista">Guardar</button>
        <button type="button" mat-raised-button class="mt-3" (click)="closeModal()" *ngIf="!metaData.esVista">Cancelar</button>
        <button type="button" mat-raised-button class="mt-3" class="mat-secundary" (click)="closeModal()" *ngIf="metaData.esVista">Cerrar</button>
    </mat-dialog-actions>
</form>