.styleTitle{
    padding: 0 12px;
}

.container-profile{
    width: 600px;
    margin: 10px auto;
}

.gris{
    font-size: 12px;
    font-weight: 100;
    color: var(--color-secundary-3);
}

.black{
    font-size: 13px;
    font-weight: 600;
    color: var(--color-secundary);
}

.subtitle{
    font-size: 15px;
    color: var(--color-secundary);
    font-weight: 600;
}

.space{
    padding-top: 15px;
}